
body, html {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background: #f5f5f9
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
  
.row.content {
    height: 100vh;
    margin-top: -5px
}

.sidenav_left {
    background-color: #ffffff;
    height: 100%;
    box-shadow: 0 0 5px #ccc;
    padding-top:15px;
    position: fixed;
    left:0px;
}

.sidenav_right {
    background-color: #ffffff;
    height: 100%;
    box-shadow: 0 0 5px #ccc;
    padding-top:15px;
    position: fixed;
    right:0px;
}

.action_btn {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: transparent;
    color: #878788;
    font-size: 17px;
    text-align: left;
    height: 45px;
    border: 0px solid white
}

.action_btn:hover {
    margin-top: 10px !important;
    background-color: rgba(0, 60, 255, 0.07);
    color: #878788;
    font-size: 17px;
    height: 45px;
    text-align: left;
    border: 0px solid white
}

.active_mod {
    margin-top: 10px !important;
    background-color: rgba(0, 60, 255, 0.07);
    color: #878788;
    font-size: 17px;
    height: 45px;
    text-align: left;
    border: 0px solid white;
}

.next_pay h3{
    font-size: 22px;
    color: #878788;
}

.next_pay_2 h3 {
    font-size: 22px;
    color: #878788;
    margin-left:20px
}

.opt_anc h3{
    font-size: 16px;
    color: #0c426f;
    font-style: italic;
    padding-top:2px;
}

.opt_anc_2 h3{
    font-size: 16px;
    color: #0c426f;
    font-style: italic;
    padding-top:2px;
    margin-left: -50px
}

.shift_top {
    margin-top:0px;
}

.amount h1 {
    font-weight: bold;
    color: #878788;
    text-align: left
}

.payment_info h4 {
    color: #8787888c;
    margin-top: 15px;
    font-size: 13px;
    font-style: italic;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.payment_info h3 {
    color: #878788;
    margin-top: -3px;
    font-size: 18px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.content_info h4 {
    color: #8787888c;
    font-size: 15px;
    font-style: italic;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.content_info h3 {
    color: #878788;
    margin-top: -3px;
    font-size: 16px;
    padding-bottom: 60px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.course_info h4 {
    color: #8787888c;
    font-size: 15px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-transform: uppercase
}

.course_info h3 {
    color: #878788;
    margin-top: 12px;
    font-size: 18px;
    height: 2em;
    line-height:1em;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.course_info button {
    margin-top: 5px;
    margin-bottom: 40px;
    border: 0px solid white;
    color: white;
    padding: 8px 15px 8px 15px;
    border-radius: 3px;
    font-size: 16px;
    background-color: rgba(3, 150, 10, 0.5);
}

.course_info .course_info_button_2 {
    margin-top: 5px;
    margin-bottom: 40px;
    border: 0px solid white;
    color: white;
    padding: 8px 15px 8px 15px;
    border-radius: 3px;
    font-size: 16px;
    background-color: rgba(248, 8, 52, 0.5);
}

.payment_btn button {
    background-color: #DF1D42;
    width: 80%;
    height: 45px;
    font-size: 18px;
    color: white;
    margin-top: 15px;
    border-radius: 3px;
    border: 0px solid white;
}

.payment_btn_input {
    background-color: #DF1D42;
    width: 80%;
    height: 45px;
    font-size: 18px;
    color: white;
    margin-top: 15px;
    border-radius: 3px;
    border: 0px solid white;
}

.payment_btn2 button {
    background-color: #0c426f;
    width: 80%;
    height: 45px;
    font-size: 18px;
    color: white;
    margin-top: 15px;
    border-radius: 3px;
    border: 0px solid white;
}

.payment_btn2 h4 {
    font-size: 16px;
    color: #878788;
    margin-bottom: 0px;

}

.hr {
    margin-top:10px
}

.profile_div {
    background-color: white;
    box-shadow: 0 0 3px #ccc;
    margin-top: 15px;
    border-radius: 2px;
    margin-bottom: 15px;

}

.shift_left {
    margin-left: 10px;
}

.student_passport {
    width:110px;
    height:130px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top:-10px;
}

.shift_content {
    margin-left: 20px;
    margin-top:5px;
}


.modal-header {
    background-color: #0c426f;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.close {
    color: white;
    border: 2px solid white
}

.modal-dialog{
    width:45%;
    margin-top: 120px;
}


.course_Select {
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: rgb(65, 65, 65);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #878788
}

.payment_select {
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: rgb(65, 65, 65);
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid #878788
}

.matric_input {
    width: 80%;
    height: 45px;
    font-size: 18px;
    color: rgb(65, 65, 65);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #878788
}

.submit_btn {
    width: 80%;
    height: 45px;
    font-size: 18px;
    color: white;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #0c426f;
    background-color: #0c426f;
}

.form-label {
    font-size: 18px;
    color: #878788;
    font-weight: normal;
    margin-top: 5px;
}

.move_down {
    margin-top: 10px;
}

 
@media (min-width: 320px) and (max-width: 480px) {

    .sidenav {
        height: auto;
        padding: 15px;
    }

    .modal-dialog{
        width:100%;
        margin-left:0px;
        margin-top: 120px;
    }

    .student_passport {
        width:110px;
        height:130px;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    
    .row.content {height:auto;}

    .sidenav_left {
        background-color: #ffffff;
        height: 100%;
        box-shadow: 0 0 5px #ccc;
        padding-top:15px;
        position: relative
    }

    .sidenav_right {
        background-color: #ffffff;
        height: 100%;
        box-shadow: 0 0 5px #ccc;
        padding-top:15px;
        position: relative;
    }

    .opt_anc_2 h3{
        font-size: 16px;
        color: #0c426f;
        font-style: italic;
        padding-top:2px;
        margin-top: -1px; 
        margin-left: 20px
    }

    .content_info h3 {
        color: #878788;
        margin-left: 10px;
        margin-top: -3px;
        font-size: 15px;
        padding-bottom: 10px
    }

    .content_info h4 {
        color: #8787888c;
        margin-left: 10px;
        font-size: 15px;
        font-style: italic;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    .course_info h3 {
        color: #878788;
        margin-top: 12px;        
        height: 0em;
        line-height:1em;
        margin-bottom:28px;
        margin-left: 10px;
        font-size: 18px;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    .course_info h4 {
        color: #8787888c;
        font-size: 15px;
        font-style: italic;
        margin-left: 10px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        text-transform: uppercase
    }

    .course_info button {
        margin-top: 5px;
        margin-bottom: 20px;
        border: 0px solid white;
        color: white;
        padding: 8px 15px 8px 15px;
        border-radius: 3px;
        margin-left: 10px;
        font-size: 16px;
        background-color: rgba(3, 150, 10, 0.5);
    }
    
    .course_info .course_info_button_2 {
        margin-top: 5px;
        margin-bottom: 20px;
        border: 0px solid white;
        color: white;
        padding: 8px 15px 8px 15px;
        border-radius: 3px;
        font-size: 16px;
        margin-left: 10px;
        background-color: rgba(248, 8, 52, 0.5);
    }

}
