html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hide {
  display: none !important;
}

.restart {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.questions {
  position: relative;
  display: block;
  width: 75%;
  margin: 0 auto;
  padding: 0;
}
.questions h1 {
  position: relative;
  display: block;
  font-size: 30px;
  text-align: center;
}
.questions .answers {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 50px;
  text-align: center;
}
.questions .buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  color: #fff !important;
}
input[type="radio"]:checked + label:before {
  width: 100%;
}

label {
  position: relative;
  display: block;
  margin: 0 0 5px;
  padding: 10px 0;
  color: #222;
  cursor: pointer;
  border: 2px solid #222;
  border-radius: 5px;
  overflow: hidden;
}
label:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #222;
  transition: width 250ms linear;
  z-index: -1;
}
