html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}
h1 {
    font-size: 2em;
    margin: 0.67em 0
}

button,input,optgroup,select,textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

textarea {
    overflow: auto
}


h1,h2,h3,h4,h5,h6,p {
    margin: 0
}

html {
    box-sizing: border-box
}

*,*::after,*::before {
    box-sizing: inherit
}

.bold {
    font-weight: 700
}

body {
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: 400;
    color: #212b36;
    line-height: 1.5;
    letter-spacing: 0.4px;
    background-color: #F4F6F8
}

html,html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004)
}

.btn {
    color: inherit;
    display: inline-block;
    font-weight: 600;
    line-height: 1.71;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: inherit;
    outline: none;
    box-shadow: 1px 1px 3px 0 rgba(50,50,54,0.13),0 0 3px 1px rgba(63,63,68,0.05)
}

.btn:active {
    outline: none;
    box-shadow: none;
    opacity: 0.7
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed
}

.btn--primary {
    color: #fff;
    background-color: #08acf0
}

.btn--primary:hover {
    background-color: #08acf0;
    -webkit-transform: translateY(-5px) scale(1.02);
  transform: translateY(-5px) scale(1.02);
  -webkit-box-shadow: 0px 5px 12px rgba(126,142,177,0.2);
  box-shadow: 0px 5px 12px rgba(126,142,177,0.2)
}


.btn--transparent {
    background-color: transparent;
    border: 1px solid rgba(155,155,155,0.2)
}

.btn--default {
    color: inherit;
    background-color: #ffffff
}

.btn--default:hover {
    background-color: #d1d4f6;
    color: #08acf0
}

.btn--block {
    display: block;
    width: 100%
}
.btn--lg {
    font-size: 20px;
    font-weight: 600;
    padding: 14px 16px
}

.btn--check {
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    padding: 16px 20px
}

.btn--check svg {
    display: block
}


.form__input {
 
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.43;
    color: inherit;
    font-family: inherit;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #c4cdd5;
    border-radius: 4px;
    outline: none;
    resize: none;
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
    transition: border-color ease-in-out .3s, box-shadow ease-in-out .3s
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
/* color: #8095A0;
font-size:40px; */
}
::-moz-placeholder { /* Firefox 19+ */
color: #8095A0;
font-size:40px
}
:-ms-input-placeholder { /* IE 10+ */
color: #8095A0;
font-size:40px
}
:-moz-placeholder { /* Firefox 18- */
color: #8095A0;
font-size:40px
}

.form__input--sales {
    padding: 1px;
    padding-left:0px;
    font-size: inherit;
    border: none;
    box-shadow: none;
    background-image: none;
    outline: none;
    color: #8095A0;
}

.select {
    position: relative
}

.select__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.43;
    color: inherit;
    display: block;
    width: 100%;
    font-family: inherit;
    border: 1px solid #c4cdd5;
    border-radius: 4px;
    outline: none;
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
    transition: border-color ease-in-out .3s, box-shadow ease-in-out .3s
}

.select__input:focus {
    border-color: #6070c7;
    outline: none
}

.select__input--has-icon {
    padding-right: 25px
}

.select__input--noRightBorderRadius {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.select__input--sales {
    background-color: #ffffff;
    background-image: none;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    border: none;
    color: #8095A0;
    padding-right: 40px;
    padding-left: 16px;
    line-height: 2.0
}


.select__icon {
    position: absolute;
    right: 11px;
    top: 8px;
    pointer-events: none
}

.select__icon--sales {
    top: 15px
}

.sales {
    min-height: 100vh;
    margin-left: auto;
    margin-left: auto;
    padding: 26px;
    position: relative;
    z-index: 3;
    box-shadow: 0 2px 16px 0 rgba(33,43,54,0.2),0 31px 41px 0 rgba(33,43,54,0.08);
    
}


.sales__container {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.12);
    /* transform: scale(0.8) */
}

.sales__bottom {
    padding: 12px 20px 36px;
    display: flex
}


form {
    /* width: 100%;
    max-width: 300px;
    margin: 60px auto; */
}
form input {
    font-size: 60px;
    border: 0px solid #ccc;
    border-left: 0;
    width: 100%;
    color: #8095A0;
}

form input:focus {
    outline: 0;
}

.flex {
    display: flex;
    justify-content: flex-start;
}

.flex .currencyCode {
    font-size: 40px;
    padding: 0 10px 0 20px;
    color: #8095A0;
    border: 0px solid #ccc;
    border-right: 0;
    border-radius: 7px 0 0 7px;
}


.sales__bottom__left {
    width: 50%
}

.sales__bottom__right {
    width: 50%;
    padding: 0 18px 12px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.sales__header {
    background-color: #08ACF0;
    font-weight: 600;
    font-size: 16px;
    padding: 16px 24px;
    color:#FFFFFF;
    line-height: 1.43;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}


.sales__header--noBackground {
    background-color: transparent;
    padding-left: 0;
    padding-top: 4px
}

.sales__display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0 -1px 0 0 #dfe1e4;
    padding: 16px 24px
}

.sales__display__value {
    font-size: 36px;
    line-height: 1.25
}


.sales__display__right {
    display: flex
}

.sales__display__right .display__cell {
    padding-right: 14px
}



.sales__method__item {
    margin-bottom: 24px;
    transition: all 0.3s ease-in-out;
    background-color: #fafafa;
    border-radius:5px;
}

.sales__method__item__label {
    position: relative;
    padding: 16px 0 16px 70px;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    font-weight: 600;
    border-radius:5px;
}


.sales__method__item__label:hover {
    position: relative;
    padding: 16px 0 16px 70px;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    color: #FFFFFF;
    border-radius:5px;
    font-weight: 600
}

.sales__method__item__label::before {
    position: absolute;
    content: '';
    top: 20px;
    left: 20px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.24);
    border: solid 0.4px #d0d2d9;
    transition: all 0.3s ease-in-out
}
.sales__method__item__radio {
    display: none
}

.sales__method__item__radio:checked+.sales__method__item__label {
    background-color: #ffffff;
    box-shadow: 0 1px 6.5px 0 rgba(0,0,0,0.12)
}

.sales__method__item__radio:checked+.sales__method__item__label::before {
    border: 7px solid #08acf0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24)
}

.sales__method__item:hover {
    background-color: #08acf0;
    box-shadow: 0 2px 13px 0 rgba(0,0,0,0.12)
}

.keypad {
    display: flex;
    flex-wrap: wrap
}

.keypad__btn {
    margin: 12px;
    margin-bottom: 5px; 
    flex-basis: calc(33.3% - 24px);
    padding: 20px;
    font-size: 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    border: none;
    color: #8095A0;
    border-radius:5px;
    font-weight: 400;
    cursor: pointer;
    outline: none
}

.keypad__btn:active {
    box-shadow: none;
    outline:none;
    border:none;
    background-color: #fafafa
}

.keypad__btn:hover {
    box-shadow: none;
    background-color: #08acf0;
    color:#FFFFFF
}

.keypad__btn:last-child {
    flex-grow: 1
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}