.categories{
	margin-top: 0px;
	display: flex;
	justify-content: center;
	padding: 5px;
}


::placeholder {
  color: #8095A0;
  text-transform: capitalize
}

:-ms-input-placeholder {
  color: #8095A0;
  text-transform: capitalize
}

::-ms-input-placeholder {
  color: #8095A0;
  text-transform: capitalize
}

.category-block{
	/* padding: 10px; */
	width: 600px;
	/* height: 570px; */
	/* background:#FFFFFF; */
	margin: 10px;
	/* filter: drop-shadow(0 0 20px rgba(0,0,0,0.1)); */
   /* -moz-filter: drop-shadow(0 0 20px rgba(0,0,0,0.1)); */
   /* -webkit-filter: drop-shadow(0 0 20px rgba(0,0,0,0.1)); */
   /* -o-filter: drop-shadow(0 0 20px rgba(0,0,0,0.1)); */
}

.category-icon-cont{
  text-align: center;
}

.c-text{
	font-weight: normal;
	font-family: 'overlock';
	color: #002862;
	font-size: 1.2rem;
}

.icon{
	margin-top: 20px;
}

.pin{
	width: 350px;
    padding: 10px 20px;
    margin: 7px 0;
    display: inline-block;
    border: 2px solid #ebe9e9;
    border-radius: 4px;
    font-size:1.05rem;
    color: #8095A0;
    box-sizing: border-box;
}


.button {
  border-radius: 4px;
  background-color: #09acef;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.1rem;
  padding: 10px 0;
  width: 350px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

}