/*------------------------------------------------------------------
 [Table of contents]

 # Typography
 # Captions
 # Alignments
 # Clearings
 # Widgets
 # Header
 # Top Bar Navigation
 # Logo
 # Menu
 # Footer
 # Block Links
 # Blog Page
 # Blog Single Page
 # Contact Us Page
 # Typography Pages

 -------------------------------------------------------------------*/

/* Typography */

@font-face {
  font-family: "Montserrat-Regular";
  src: url("fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("fonts/Montserrat-Light.otf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("fonts/Montserrat-Bold.otf");
}

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body,
button,
input,
select,
textarea {
    color:#484848;
    font-family: inherit;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: 500;
    color: #484848;
    font-family: "Montserrat-Bold";
    
}

p {
    margin-bottom: 1.6em; 
    line-height: 1.6;
    font-size: 14px;
    font-family: "Montserrat-Light";
}

b,
strong {
    font-weight: 700;
    color: #484848;
    font-family: sans-serif;
    letter-spacing:0.1em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    border-left: 4px solid #707070;
    border-left: 4px solid rgba(51, 51, 51, 0.7);
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    font-size: 18px;
    font-size: 1.8rem;
    font-style: italic;
    line-height: 1.6667;
    margin-bottom: 1.6667em;
    padding-left: 0.7778em;
}

blockquote p {
    margin-bottom: 1.6667em;
}

blockquote > p:last-child {
    margin-bottom: 0;
}

blockquote cite,
blockquote small {
    color: #333;
    font-size: 15px;
    font-size: 1.5rem;
    font-family: "Montserrat-Light";
    line-height: 1.6;
}

blockquote em,
blockquote i,
blockquote cite {
    font-style: normal;
}

blockquote strong,
blockquote b {
    font-weight: 400;
}

address {
    font-style: italic;
    margin: 0 0 1.6em;
}

code,
kbd,
tt,
var,
samp,
pre {
    font-family: Inconsolata, monospace;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    line-height: 1.2;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 0.8em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

abbr[title] {
    border-bottom: 1px dotted #eaeaea;
    border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
    cursor: help;
}

mark,
ins {
    background-color: #fff9c0;
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

hr {
    background-color: #eaeaea;
    background-color: rgba(51, 51, 51, 0.1);
    border: 0;
    height: 1px;
    margin-bottom: 1.6em;
}



dl {
    margin-bottom: 1.6em;
}

dt {
 
    font-weight: 700;
    color: #484848;
    font-family: "Montserrat-Regular";
    letter-spacing:0.1em;
}

dd {
    margin-bottom: 1.6em;
}

table,
th,
td {
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.6em;
    table-layout: fixed; /* Prevents HTML tables from becoming too wide */
    width: 100%;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}

td {
    border-width: 0 1px 1px 0;
}

th, td {
    padding: 8px;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

figure {
    margin: 0;
}

figure.wp-caption{
    
   
    max-width: 100%;
}

figcaption.wp-caption-text{
    
    padding:8px 0 8px 0;
}

del {
    opacity: 0.8;
}

::-webkit-input-placeholder {
    color: rgba(51, 51, 51, 0.7);
    font-family: "Montserrat-Regular";
}

:-moz-placeholder {
    color: rgba(51, 51, 51, 0.7);
    font-family: "Montserrat-Regular";
}

::-moz-placeholder {
    color: rgba(51, 51, 51, 0.7);
    font-family: "Montserrat-Regular";
    opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
    color: rgba(51, 51, 51, 0.7);
    font-family: "Montserrat-Regular";
}

.page-content a:hover,,
.post-content a:hover,
.page-content a:focus,
.post-content a:focus,
.comment-content a:hover,
.comment-content a:focus,
.pingback .comment-body > a:hover,
.pingback .comment-body > a:focus {
    border-bottom: 0;
}

.page-content a img,
.post-content a img,
.comment-content a img {
    display: block;
}

.entry-summary .more-link:after {
    white-space: nowrap;
}

.entry-summary .more-link:after {
    content: "\f429";
    font-size: 16px;
    position: relative;
    top: 5px;
}

.entry-summary,
.page-content,
.post-content,
.comment-content {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

 .entry-summary h1,
 .page-content h1,
 .post-content h1,
 .comment-content h1 {
 font-size: 26px;
 font-size: 2.6rem;
 line-height: 1.1538;
 margin-top: 1.8462em;
 margin-bottom: 0.9231em;
 }

 .entry-summary h2,
 .page-content h2,
 .post-content h2,
 .comment-content h2 {
 font-size: 22px;
 font-size: 2.2rem;
 line-height: 1.3636;
 margin-top: 2.1818em;
 margin-bottom: 1.0909em;
 }

 .entry-summary h3,
 .page-content h3,
 .post-content h3,
 .comment-content h3 {
 font-size: 18px;
 font-size: 1.8rem;
 line-height: 1.3333;
 margin-top: 2.6667em;
 margin-bottom: 1.3333em;
 }

 .entry-summary h4,
 .entry-summary h5,
 .entry-summary h6,
 .page-content h4,
 .post-content h4,
 .page-content h5,
 .post-content h5,
 .page-content h6,
 .post-content h6,
 .comment-content h4,
 .comment-content h5,
 .comment-content h6 {
 font-size: 15px;
 font-size: 1.5rem;
 line-height: 1.2;
 margin-top: 3.2em;
 margin-bottom: 1.6em;
 }

 .entry-summary h5,
 .entry-summary h6,
 .page-content h5,
 .post-content h5,
 .page-content h6,
 .post-content h6,
 .comment-content h5,
 .comment-content h6 {
 letter-spacing: 0.1em;
 text-transform: uppercase;
 }

/* Input fields animations */

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="submit"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  /* border-color:#f7ca18; */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Montserrat-Light";
  font-size: 12px;
  color: #757575;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #757575;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.color-theme {
  /* color: #f7ca18; */
}

.bg-color-theme,
.bnt-theme {
  /*background-color: #f7ca18;*/
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.bg-color-theme:hover,
.bnt-theme:hover {
  opacity: 0.8;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.heading-light, .text-light {
  font-family: "Montserrat-Light";
  line-height: 2;
}

.heading-regular, .text-regular {
  font-family: "Montserrat-Regular";
}

.heading-bold, .text-bold {
  font-family: "Montserrat-Bold";
}

.list-item li {
  list-style: none;
  float: left;
}

.font12 {
  font-size: 12px;
}

.font13 {
  font-size: 13px;
}

.font14 {
  font-size: 14px;
}

.font15 {
  font-size: 15px;
}

.font16 {
  font-size: 16px;
}

.font17 {
  font-size: 17px;
}

.font19 {
  font-size: 19px;
}

.font20 {
  font-size: 20px;
}

.font21 {
  font-size: 21px;
}

.font25 {
  font-size: 25px;
}

.font28 {
  font-size: 28px;
}

.font36 {
  font-size: 36px;
}

.font42 {
  font-size: 42px;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}
/**
 * Captions
 */

.wp-caption {
    margin-bottom: 1.6em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0;
}

.wp-caption-text {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    font-family: "Montserrat-Light"
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0.5em 0;
}

/**
 * Alignments
 */

.alignleft {
    display: inline;
    float: left;
}

.alignright {
    display: inline;
    float: right;
}

.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
    margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
    margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
    clear: both;
    margin-top: 0.4em;
    margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
    margin-bottom: 1.2em;
}


/**
 * Clearings
 */

.clear:before,
.clear:after,
.site:before,
.site:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.nav-links:before,
.nav-links:after,
.comment-navigation:before,
.comment-navigation:after,
.social-navigation ul:before,
.social-navigation ul:after,
.textwidget:before,
.textwidget:after {
    content: "";
    display: table;
}

.clear:after,
.site:after,
.entry-content:after,
.comment-content:after,
.site-content:after,
.nav-links:after,
.comment-navigation:after,
.social-navigation ul:after,
.textwidget:after {
    clear: both;
}

/**
 * Widgets
 */

.widget {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0 auto 9.09090%;
    width: 100%;
    word-wrap: break-word;
}

.widget pre {
    line-height: 1.2;
}

.widget button,
.widget input,
.widget select,
.widget textarea {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
}

.widget button,
.widget input {
    line-height: normal;
}

.widget button,
.widget input[type="button"],
.widget input[type="reset"],
.widget input[type="submit"] {
    font-size: 12px;
    font-size: 1.2rem;
    padding: 0.7917em 1.5833em;
}

.widget input[type="text"],
.widget input[type="email"],
.widget input[type="url"],
.widget input[type="password"],
.widget input[type="search"],
.widget textarea {
    padding: 12px;
}

.widget-title {
    color: #484848;
    font-size: 20px;
    font-family: "Montserrat-Regular";
    border-bottom: 1px solid #acacac;
    padding-bottom: 22px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align:center;
}

.widget > :last-child {
    margin-bottom: 0;
}

.widget_calendar table {
    margin: 0;
}

.widget_calendar td,
.widget_calendar th {
    line-height: 2.3333;
    text-align: center;
    padding: 0;
}

.widget_calendar caption {
    font-family: "Montserrat-Regular";
    font-weight: 700;
    margin: 0 0 1.6em;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.widget_calendar tbody a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
    background-color: #333;
    color: #fff;
    display: block;
    font-weight: 700;
}

.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
    background-color: #707070;
    background-color: rgba(51, 51, 51, 0.7);
    color: #fff;
}

.widget_archive a,
.widget_categories a,
.widget_links a,
.widget_meta a,
.widget_nav_menu a,
.widget_pages a,
.widget_recent_comments a,
.widget_recent_entries a {
    border: 0;
}

.widget_archive ul,
.widget_categories ul,
.widget_links ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_recent_entries ul {
    list-style: none;
    margin: 0;
}

.widget_archive li,
.widget_categories li,
.widget_links li,
.widget_meta li,
.widget_nav_menu li,
.widget_pages li,
.widget_recent_comments li,
.widget_recent_entries li {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    padding: 0.7667em 0;
}

.widget_archive li:first-child,
.widget_categories li:first-child,
.widget_links li:first-child,
.widget_meta li:first-child,
.widget_nav_menu li:first-child,
.widget_pages li:first-child,
.widget_recent_comments li:first-child,
.widget_recent_entries li:first-child {
    border-top: 0;
    padding-top: 0;
}

.widget_archive li:last-child,
.widget_categories li:last-child,
.widget_links li:last-child,
.widget_meta li:last-child,
.widget_nav_menu li:last-child,
.widget_pages li:last-child,
.widget_recent_comments li:last-child,
.widget_recent_entries li:last-child {
    padding-bottom: 0;
}

.widget_categories .children,
.widget_nav_menu .sub-menu,
.widget_pages .children {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    margin: 0.7667em 0 0 0.8em;
    padding-top: 0.7667em;
}

.widget_recent_entries .post-date {
    display: block;
}

.widget_rss ul {
    list-style: none;
    margin: 0;
}

.widget_rss li {
    margin-bottom: 1.6em;
}

.widget_rss ul:last-child,
.widget_rss li:last-child {
    margin-bottom: 0;
}

.widget_rss .rsswidget {
    border: 0;
    font-weight: 700;
}

.widget_rss .rsswidget img {
    margin-top: -4px;
}

.widget_rss .rss-date,
.widget_rss cite {
    font-family: "Montserrat-Regular";
    font-size: 12px;
    font-size: 1.2rem;
    font-style: normal;
    display: block;
    line-height: 2;
    opacity: 0.8;
}

.textwidget > :last-child {
    margin-bottom: 0;
}

.textwidget a {
    border-bottom: 1px solid #333;
}

.textwidget a:hover,
.textwidget a:focus {
    border-bottom: 0;
}

.widget > ul, .widget > form, .widget .tagcloud,  .widget .menu, .widget .textwidget{
    margin-left:16px;
    margin-right:16px;
    padding-top:0px;
}
.widget select {
    overflow: hidden;
    max-width: 100%;
}
.widget_categories select,
.widget_archive select {
    display: table;
    margin: 0 auto;
}
.widget_categories select, .widget_archive select, .textwidget select {
    border: 1px solid #888;
    border-radius: 0;
    cursor: pointer;
    color: #888;
    padding: 12px 45px 12px 20px;
    /*background: url(images/down-arrow.png) no-repeat;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-position: 94% 53%;
}
.core_popular_posts ul li{list-style: none;}
.core_popular_posts h6{text-transform: none; font-family: "Montserrat-Light";}
.widget-area h5, .core_popular_posts h6{ margin: 0px 0; }
.widget-area > .widget {} h3.widget-title:first-child {
    margin-top: 0!important;
}

/*************************************
 Header
 *************************************/
@media (min-width: 992px) {
    .page .container-header {
        box-shadow: 1px 7px 20px rgba(0, 0, 0, 0.15);
    }
}
.page .header-wrapper {
  float: left;
  position: relative;
  width: 100%;
  z-index: 2;
}

.page .logo a img {
  box-shadow: 1px 7px 20px rgba(0, 0, 0, 0.15);
}

.header-wrapper h1.site-title{
    width:500px;
}

.header-wrapper .site-title a{
  color:#c0c6da;
  font-size:20pt;
  margin-top:3px;
  letter-spacing:0.1em;
  text-overflow: ellipsis;
  height:25px;
}

.container-header {
  position: relative;
 /* height: 104px; */
}

@media (min-width: 992px) {
  .header-position {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    float: left;
    width: 100%;
    background-color: #fff;
  }
}
/* Top Bar Navigation */
.top-nav {
  background-color: #1a265c;
  height: 37px;
}
.top-nav .top-right {
  text-align: right;
}
.top-nav ul .top-search .navbar-form .form-control {
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  max-width: 70px;
  font-size: 12px;
  font-family: "Montserrat-Light";
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.top-nav ul .top-search .navbar-form button {
  font-size: 16px;
  margin-top: 9px;
  float: right;
}
.top-nav ul .top-search .navbar-form .form-control, .top-nav ul .top-search .navbar-form button {
  background-color: transparent !important;
  border: none;
  border-radius: 0;
  color: #fff;
}
.top-nav ul .top-search .navbar-form:hover .form-control {
  max-width: 120px;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.top-nav ul .login {
  float: right;
  margin-left: 15px;
  margin-right: 0;
  padding-right: 0;
}
.top-nav ul .login a {
  background-color: #3a539b;
  height: 23px;
  margin: 8px 0;
  line-height: 2.2;
  color: #c0c6da;
  padding: 0 15px;
  border-radius: 3px;
  font-size: 10px;
  font-family: "Montserrat-Light";
}
.top-nav ul li a {
  color: #9396a9;
  display: block;
  line-height: 3;
}
.top-nav ul li a .lnr {
  font-size: 20px;
}
.top-nav ul li a .icon {
  width: 30px;
  height: 37px;
  float: left;
  background-position: center center !important;
  margin-right: 5px;
}
.top-nav ul li a .mail-icon {
  background: url("css/icons/mail-icon.png") no-repeat;
}
.top-nav ul li a .phone-icon {
  background: url("css/icons/phone-icon.png") no-repeat;
}
.top-nav ul li a:hover {
  text-decoration: none;
}

/* Logo */

@media (min-width: 992px) {
  .logo {
    position: absolute;
    display: inline-block;
    width: 224px;
    z-index: 10;
  }
  .logo a {
    display: block;
  }
  .logo a img {
    box-shadow: 2px 11px 16px rgba(0, 0, 0, 0.8);
  }
}
@media (max-width: 991px) {
  .logo-mobile {
    float: left;
    width: 150px;
    position: absolute;
    top: 6px;
    left: 15px;
    z-index: 9999;
  }
  .logo-mobile a {
    display: block;
  }
  .logo-mobile img {
    max-width: 100%;
  }
}
/* Search page */
.content_search > .hentry {
    margin-bottom: 38px;
}
.content_search p, .not-found p{
    margin: 0 0 16px;
}
/* Search page: No result search */
.no-results .search-form {
    max-width: 400px;
    width: 100%;
    position: relative;
}
.no-results{
    padding-bottom: 70px;
}
.search-form-group {
    position: relative;
}
.search-form-text {
    border: 1px solid #e7ebee;
    color: #444444;
    padding: 11px 54px 11px 13px;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
}
.search-form-text:focus {
    outline: none;
}
.entry-title {
    line-height: normal;
    margin: 0 0 14px 0;
    border-bottom: 1px solid #e5e7e8;
    padding-bottom: 6px;
    
}

.search-form-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 0;
    height: 44px;
    width: 44px;
    line-height: 44px;
    font-size: 14px;
    text-align: center;
    background: transparent;
}
.hentry > *:last-child {
    margin-bottom: 0;
}
.post__meta-list_inline {
    list-style: none;
    padding: 0;
    margin: 0;
}
.post__meta-list_inline .post__meta-item {
    display: inline-block;
    margin-right: 20px;
}
.post__meta-item {
    position: relative;
    font-size: 13px;
    padding-left: 0px;
    color: #888888;
    margin-right: 45px;
}
.post__meta-item .fa{
    margin-right: 8px;
    /* color: #f7ca18; */
}

/* Menu */

.menu {
    padding: 18px 0 15px 0 ;
}
.menu .nav > li > a {
  color: #1a265c;
  font-family: "Montserrat-Light";
  font-size: 14px;
  border-bottom: 2px solid #fff;
  text-transform: uppercase;
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
}
.menu .current a,
.menu .nav > li a:hover {
  /* border-bottom: 2px solid #f7ca18 !important; */
}

.mean-container .mean-nav ul li a:hover {
  /* color: #f7ca18; */
}

@media (max-width: 991px) {
  .mobile-menu {
    margin-top: -15px;
  }
}

/*************************************
   Header Type 1
*************************************/
.container-header.type1 {
  /************************************* /
  /* Top Bar Nav */
  /************************************* /
  /* logo */
  /************************************* /
  /* Menu */
}
.container-header.type1 .top-nav .top-left {
  text-align: left;
}
.container-header.type1 .top-nav .top-left ul li:nth-child(1) {
  margin-right: 20px;
}
@media (min-width: 992px) {
  .container-header.type1 .logo {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media (max-width: 991px) {
  .container-header.type1 .header-middle .container {
    position: relative;
  }
}
@media (min-width: 1200px) {
  .container-header.type1 .menu .nav > li {
    width: 200px;
    text-overflow: ellipsis;

  }
  .container-header.type1 .menu .nav > li:nth-child(2) {
    margin-right: 140px;
  }
  .container-header.type1 .menu .nav > li:nth-child(3) {
    margin-left: 140px;
  }
  .container-header.type1 .menu .nav > li:nth-child(6) {
    margin-right: 140px;
  }
  .container-header.type1 .menu .nav > li:nth-child(7) {
    margin-left: 140px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-header.type1 .menu .nav > li {
    width: 180px;
  }
  .container-header.type1 .menu .nav > li:nth-child(2) {
    margin-right: 100px;
  }
  .container-header.type1 .menu .nav > li:nth-child(3) {
    margin-left: 100px;
  }
  .container-header.type1 .menu .nav > li:nth-child(6) {
    margin-right : 100px;
  }
  .container-header.type1 .menu .nav > li:nth-child(7) {
    margin-left: 100px;
  }
  .container-header.type1 .menu .logo {
    width: 210px !important;
  }
  .container-header.type1 .menu .logo img {
    max-width: 100%;
  }
  .container-header.type1 .menu .nav > li > a {
    font-size: 12px !important;
  }
}
.container-header.type1 .menu .nav > li:nth-child(5), .container-header.type1 .menu .nav > li:nth-child(6) .container-header.type1 .menu .nav > li:nth-child(7), .container-header.type1 .menu .nav > li:nth-child(8){
  margin-top: 10px;
} 
/*************************************
   Header Type 2
*************************************/
.container-header.type2 {
  /************************************* /
  /* logo */
  /************************************* /
  /* Menu */
}
.container-header.type2 .container {
  position: relative;
}
@media (min-width: 992px) {
  .container-header.type2 .logo {
    top: -37px;
    left: 15px;
  }
}
.container-header.type2 .menu .sf-menu > li {

  float:right;
}
.container-header.type2 .menu .nav > li > a {
  padding-left: 25px;
  padding-right: 25px;
}
.container-header.type2 .menu .sf-menu li:first-child a{
  padding-right: 0px;
}
.container-header.type2 .menu .nav > li:nth-child(4) a {
  padding-right: 0 !important;
}

h1.page-title{  text-transform: uppercase; font-size:20pt;}
/*  Main Content */

.content-wrapper {
  width: 100%;
  float: left;
}

/* Footer */

.footer-wrapper {
  background-color: #1a265c;
  padding-bottom: 24px;
  width: 100%;
  float: left;
}
.footer-wrapper .foooter-container {
  background-color: #fff;
  padding: 55px 0 0;
  line-height: 2;
}
.footer-wrapper .foooter-container .footer-middle {
  padding-bottom: 30px;
  border-bottom: 1px solid #e9e9e9;
}
.footer-wrapper .foooter-container .footer-middle .contact-footer .logo-footer {
  float: left;
  display: block;
  margin-bottom: 10px;
}
.footer-wrapper .foooter-container .footer-middle .contact-footer .logo-footer img {
  max-width: 100%;
}
.footer-wrapper .foooter-container .footer-middle .contact-footer .contact-desc {
  clear: both;
  margin-bottom: 10px;
}
.footer-wrapper .foooter-container .footer-middle .contact-footer .contact-phone-email {
  clear: both;
}
.footer-wrapper .foooter-container .footer-middle .contact-footer .contact-phone-email .contact-email {
  margin-left: 30px;
}
.footer-wrapper .foooter-container .footer-middle .contact-footer .contact-phone-email .contact-email a {
  color: #757575;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.footer-wrapper .foooter-container .footer-middle .contact-footer .contact-phone-email .contact-email a:hover {
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  /* color: #f7ca18; */
}
.footer-wrapper .foooter-container .footer-middle .links-footer h6 {
  margin-bottom: 15px;
  text-transform:uppercase;
  color: #757575;
}
.footer-wrapper .foooter-container .footer-middle .links-footer ul li {
  line-height: 2.6;
}
.footer-wrapper .foooter-container .footer-middle .links-footer ul li a {
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-transform: uppercase;
}
.footer-wrapper .foooter-container .footer-middle .links-footer ul li a:hover {
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  /* color: #f7ca18; */
}
.footer-wrapper .foooter-container .footer-middle .links-social {
  max-width: 350px;
  margin: 0 auto;
}
.footer-wrapper .foooter-container .footer-middle .links-social .login-dashboard a {
  color: #fff;
  padding: 18px 30px;
  text-transform: uppercase;
  display: block;
  letter-spacing: 1px;
}
.footer-wrapper .foooter-container .footer-middle .links-social ul {
  margin-top: 28px;
}
.footer-wrapper .foooter-container .footer-middle .links-social ul li a {
  font-size: 22px;
  color: #9f9f9f;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.footer-wrapper .foooter-container .footer-middle .links-social ul li a:hover {
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  /* color: #f7ca18; */
}
.footer-wrapper .foooter-container .footer-middle .contact-footer p {

  font-size: 12px;
}
@media (max-width: 991px) {
  .footer-wrapper .foooter-container .footer-middle .contact-footer {
    margin-bottom: 30px;
  }
  .footer-wrapper .foooter-container .footer-middle .links-footer {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .footer-wrapper .foooter-container .footer-middle .contact-footer {
    text-align: center;
  }
  .footer-wrapper .foooter-container .footer-middle .contact-footer .logo-footer {
    width: 100%;
  }
  .footer-wrapper .foooter-container .footer-middle .links-footer {
    text-align: center;
  }
  .footer-wrapper .foooter-container .footer-middle .links-footer h6 {
    margin-top: 20px;
  }
}
.footer-wrapper .foooter-container .footer-bottom {
  padding: 30px 0;
}
.footer-wrapper .foooter-container .footer-bottom p {
  color: #9f9f9f;
  margin-bottom:0px;
}

/*************************************
   Footer Type 2
*************************************/
/************************************* /
/* Title */
.title.type1 {
  position: relative;
  padding-bottom: 22px;
}
.title.type1:before {
  content: "";
  background-color: #000;
  width: 38px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* # Blog Pagination */

.page-links {
    clear: both;
    font-family: "Montserrat-Light";
    margin-bottom: 1.3333em;
}

.page-links a,
.page-links > span {
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    display: inline-block;
    font-size: 12px;
    font-size: 1.2rem;
    height: 2.2em;
    line-height: 2;
    margin: 0 0.3333em 0.3333em 0;
    text-align: center;
    width: 2.2em;
}

.page-links a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
    background-color: #333;
    border-color: #333;
    color: #fff;
}

.page-links a:hover,
.page-links a:focus {
    background-color: #707070;
    background-color: rgba(51, 51, 51, 0.7);
    border-color: transparent;
    color: #fff;
}

.page-links > .page-links-title {
    border: 0;
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    height: auto;
    margin: 0;
    padding-right: 0.5em;
    width: auto;
}

.page-links {
    margin-bottom: 1.4117em;
}

.page-links a,
.page-links > span {
    margin: 0 0.2857em 0.2857em 0;
    
}
.page-links span.screen-reader-text{ position: relative!important; }
.page-links a span.screen-reader-text{ color:#fff!important;}

.pagination-wrapper {
  text-align: center;
}
.pagination-wrapper .pagination > li {
  float: left;
}
.pagination-wrapper .pagination > li:hover {
  color:#ccc!important;
}
.pagination-wrapper .prev {
  background: url("css/icons/prev.png") no-repeat;
  background-position: left center;
  padding-left: 15px;
  cursor: pointer;

}
.pagination-wrapper .next {
  background: url("css/icons/next.png") no-repeat;
  background-position: right center;
  padding-right: 15px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .pagination > li > a, .pagination > li > span {
    margin-left: 0 !important;
  }

  .prev a, .next a {
    font-size: 0 !important;
    padding: 18px 12px !important;
  }
}


/* # Gallery Page */

.galery-wrapper .galery-title {
  padding: 80px 0 50px;
}
.galery-wrapper .galery-title h4 {
  font-size: 20px;
  color: #2d2d2d;
  margin:0px;
}
.galery-wrapper .galery-content {
  float: left;
}
.galery-wrapper .galery-content h4{
  margin-top: 0px;
}
.galery-wrapper .galery-content ul li {
  padding: 0;
  margin: -1px;
}
.galery-wrapper .galery-content ul {
  list-style: none;
}
.galery-wrapper .galery-content ul li img {
  width: 100%;
}
.galery-wrapper .galery-content ul li .galery-item {
  position: relative;
}
.galery-wrapper .galery-content ul li .galery-item .box-content-item{
    display: none;
}
.galery-wrapper .galery-content ul li .galery-item:hover .galery-content {
  visibility: visible;
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.galery-wrapper .galery-content ul li .galery-item .galery-content {
  position: absolute;
  background-color: rgba(247, 202, 24, 0.9);
  top: 4%;
  left: 4%;
  right: 4%;
  bottom: 4%;
  margin: auto;
  width: 92%;
  height: 92%;
  z-index: 10;
  text-align: center;
  padding-top: 40%;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  opacity: 0;
}
.galery-wrapper .galery-content ul li .galery-item .galery-content h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
  font-family: time-new-roman;
}
.galery-wrapper .galery-content ul li .galery-item .galery-content a {
  color: #fff;
  font-size: 25px;
}
.galery-wrapper .pagination-wrapper {
  padding: 53px 0;
  display: block;
  float: left;
  width: 100%;
}
.galery-wrapper .pagination-wrapper .pagination {
  margin: 0;
}

.overflow-body {
  overflow: hidden;
}

.bg-popup {
  background-color: rgba(48, 59, 108, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9998;
  display: none;
}

.bg-popup.ready-popup {
  display: block;
}

.wrapper-popup {
  display: none;
  height: auto;
  left: 0;
  margin: auto;
  max-width: 700px;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 9999;
  transform: translateX(0) translateY(-50%);
  -webkit-transform: translateX(0) translateY(-50%);
  -moz-transform: translateX(0) translateY(-50%);
  -ms-transform: translateX(0) translateY(-50%);
}
.wrapper-popup .close-popup {
  color: #ececf0;
  font-size: 25px;
  position: absolute;
  top: -45px;
  right: 0;
}
.wrapper-popup .popup-content {
  background-color: #fff;
  float: left;
  padding: 0;
}
.wrapper-popup .popup-content .box-img img {
  width: 100%;
}
.wrapper-popup .popup-content .desc {
  padding: 30px 60px;
}
.wrapper-popup .popup-content .desc p {
  line-height: 2;
  color: #484848;
  font-size: 13px;
  font-family: "Montserrat-Light";
}

.wrapper-popup.ready-popup {
  display: block;
}

/* # Gallery Page Blog */

.gallery {
    margin-bottom: 1.6em;
}

.gallery-item {
    display: inline-block;
    padding: 1.79104477%;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-icon img {
    margin: 0 auto;
}

.gallery-caption {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    display: block;
    font-family: "Montserrat-Light";
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0.5em 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}


/* # Log In And Register Page */

.account-page .account-title h4 {
  font-size: 20px;
  color: #484848;
  margin-bottom: 30px;
  line-height: 1.6;
}
.account-page .account-content {
  display: block;
}
.account-page .account-content .input-box input {
  width: 100%;
  max-width: 322px;
  margin: 0 auto;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 50px;
  text-align: center;
  color: #9f9f9f;
  font-size: 14px;
  font-family: "Montserrat-Light";
  margin-bottom: 10px;
}
.account-page .account-content .buttons-set {
  margin-top: 40px;
}
.account-page .account-content .buttons-set a, .account-page .account-content .buttons-set input {
  padding: 16px 55px;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  border-radius:0px;
  outline: none;
}
.post-password-form input[type="submit"], .post-password-form input[type="password"]  {
    height:42px;
    font-size: 12px;
}

.post-password-form button,
.post-password-form input,
.post-password-form select,
.post-password-form textarea {
    background-color: #f7f7f7;
    border-radius: 0;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}

.post-password-form button,
.post-password-form input {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    line-height: normal;
}

.post-password-form input,
.post-password-form textarea {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); /* Removing the inner shadow on iOS inputs */
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
}

.post-password-form input:focus,
.post-password-form textarea:focus {
    background-color: #fff;
}

.post-password-form input:focus,
.post-password-form select:focus {
    outline: 2px solid #c1c1c1;
}

.post-password-form button[disabled],
.post-password-form input[disabled],
.post-password-form select[disabled],
.post-password-form textarea[disabled] {
    cursor: default;
    opacity: .5;
}

.post-password-form button,
.post-password-form input[type="button"],
.post-password-form input[type="reset"],
.post-password-form input[type="submit"] {
    -webkit-appearance: button;
    background-color: #333;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-family: "Montserrat-Light";
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.7917em 1.5em;
    text-transform: uppercase;
    letter-spacing:0.1em;
}

.post-password-form button:hover,
.post-password-form input[type="button"]:hover,
.post-password-form input[type="reset"]:hover,
.post-password-form input[type="submit"]:hover,
.post-password-form button:focus,
.post-password-form input[type="button"]:focus,
.post-password-form input[type="reset"]:focus,
.post-password-form input[type="submit"]:focus {
    background-color: #707070;
    background-color: rgba(51, 51, 51, 0.7);
    outline: 0;
}

.post-password-form input[type="search"] {
    -webkit-appearance: textfield;
}

.post-password-form input[type="search"]::-webkit-search-cancel-button,
.post-password-form input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.post-password-form input[type="text"],
.post-password-form input[type="email"],
.post-password-form input[type="url"],
.post-password-form input[type="password"],
.post-password-form input[type="search"],
textarea {
    padding: 0.375em;
    width: 100%;
}

.post-password-form textarea {
    overflow: auto;
    vertical-align: top;
}

.post-password-form input[type="text"]:focus,
.post-password-form input[type="email"]:focus,
.post-password-form input[type="url"]:focus,
.post-password-form input[type="password"]:focus,
.post-password-form input[type="search"]:focus,
.post-password-form textarea:focus {
    outline: 0;
}


.post-password-form {
    position: relative;
}

.post-password-form label {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    display: block;
    font-family: "Montserrat-Regular"
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing:0.1em;
    line-height: 1.5;
    text-transform: uppercase;
}
.post-password-form input[type="password"] {
    padding:8px 8px 8px 8px;
    font-size: 28px;
}
.post-password-form input[type="submit"] {
    padding:8px 16px 8px 16px;
    position: absolute;
    right: 0;
    bottom: 0;
}


@media (min-width: 768px) {
  .account-page.register {
    padding: 105px 95px 94px;
  }

  .account-page.login {
    padding: 135px 95px 115px;
  }
}
@media (max-width: 767px) {
  .account-page {
    padding: 40px 0;
  }
}

/* # Blog Share Button */

.share .box-share h4 {
  font-size: 18px;
  color: #2d2d2d;
  margin:0px;
  text-transform: uppercase;
  font-family: "Montserrat-Light";
  line-height: 3.5;
}
.share .box-share ul li {
  float: left;
  margin-left: 20px;
}
.share .box-share ul li a {
  display: block;
  background-repeat: no-repeat;
  width: 100%;
  padding: 30px;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.share .box-share ul li a:hover {
  opacity: 0.9;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
@media (min-width: 992px) {
  .share .box-share ul li {
    height: 55px;
    width: 220px;css/icons/
  }
  .share .box-share ul .facebook a {
    background: url("css/icons/facebook.png") no-repeat;
  }
  .share .box-share ul .twitter a {
    background: url("css/icons/twitter.png") no-repeat;
  }
  .share .box-share ul .google a {
    background: url("css/icons/google.png") no-repeat;
  }
}
@media (max-width: 991px) {
  .share .box-share ul li {
    height: 37px;
    width: 37px;
  }
  .share .box-share ul .facebook a {
    background: url("css/icons/facebook-small.jpg") no-repeat;
  }
  .share .box-share ul .twitter a {
    background: url("css/icons/twitter-small.jpg") no-repeat;
  }
  .share .box-share ul .google a {
    background: url("css/icons/google-small.jpg") no-repeat;
  }
}
@media (min-width: 768px) {
  .share {
    padding: 55px 0;
  }
}
@media (max-width: 767px) {
  .share {
    padding: 25px 0;
  }
}

.comments .note-comments {
  color: #484848;
  font-size: 20px;
  margin-bottom: 30px;
  float: left;
}
.comments .list-comments {
  /* width: 100%; */
  float: left;
}
.comments .list-comments > li {
  width: 100%;
  float: left;
  padding: 20px 0;
}
.comments .list-comments li .user-avatar {
  float: left;
}
.comments .list-comments li .user-avatar img{
    -webkit-border-radius: 50%;
    border-radius:  50%;
}
.comments .list-comments li .user-comments {
  float: left;
  padding-left: 30px;
}
.comments .list-comments li .user-comments > h3 {
  font-size: 20px;
  color: #484848;
  margin-bottom: 20px;
  margin-top: 0px;
}
.comments .list-comments li .user-comments p {
  font-size: 14px;
  color: #484848;
  line-height: 1.6;
  margin-bottom: 20px;
}
.comments .list-comments li .user-comments a {
  color: #9f9f9f;
  font-size: 14px;
}
.comments .list-comments li .user-comments .comment-meta .reply{
    float: right;
}
@media (min-width: 992px) {
  .comments .list-comments li .user-avatar {
    width: 8%;
  }
  .comments .list-comments li .user-comments {
    width: 92%;
  }
}
@media (max-width: 991px) {
  .comments .list-comments li .user-avatar {
    width: 20%;
  }
  .comments .list-comments li .user-comments {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .comments {
    padding: 55px 0;
  }
}
@media (max-width: 767px) {
  .comments {
    padding: 25px 0;
  }
}

.comment-respond{
    padding: 25px 0 55px;
    clear:both;
}
.comment-respond .comment-form-comment{
    margin-bottom: 55px;
}
.comment-respond h3.comment-reply-title {
    color: #484848;
    font-size: 20px;
    margin-bottom: 5px;
    font-family: "Montserrat-Regular";
}
.comment-respond form .input-box {
    margin-bottom: 20px;
}
.comment-respond form .your-comment {
    border-bottom: 1px solid #9f9f9f;
    width: 100%;
    float: left;
    padding-bottom: 45px;
}
.comment-respond form .email {
    float: left;
}
.comment-respond form .password {
    float: left;
}
.comment-respond form input {
    padding: 15px;
}
.comment-respond form textarea {
    margin-top:25px;
    padding-top: 15px;
    padding-left: 15px;
    height: 45px;
}
.comment-respond form textarea, .comment-respond form input {
    width: 100%;
    float: left;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #9f9f9f;
    color: #9f9f9f;
    font-size: 15px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow:none;
}
.comment-respond form .form-submit {
    text-align: right;
    margin-top: 30px;
    width: 100%;
    float: left;
}
.comment-respond form .form-submit input {
    padding: 23px 60px;
    width:auto;
    font-size: 16px;
    color: #ffffff;
    display: block;
    float: right;
    text-shadow:none !important;
    border:none !important;
    box-shadow:none !important;
}

.bypostauthor > article .fn:after {
    content: "\f304";
    left: 3px;
    position: relative;
    top: 5px;
}

@media (min-width: 768px) {
    .comment-respond form .email {
        margin-right: 4%;
    }
    .comment-respond form .email, .comment-respond form .password {
        width: 48%;
    }
}
@media (max-width: 767px) {
    .comment-respond form .email, .comment-respond form .password {
        width: 100%;
    }
}
.comment-respond ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #9f9f9f;
}
.comment-respond ::-moz-placeholder {
    /* Firefox 19+ */
    color: #9f9f9f;
}
.comment-respond :-ms-input-placeholder {
    /* IE 10+ */
    color: #9f9f9f;
}
.comment-respond :-moz-placeholder {
    /* Firefox 18- */
    color: #9f9f9f;
}
.comments .nav-links{
    color: #e5e5e5!important;
    font-size: 14px;
    font-family: "Montserrat-Light";
    margin-bottom:12pt;
}
.comments .nav-links div{
    display:inline-block;
    margin-right:15px;
}

/* # Blog Page */
.page-content-body ul,
.page-content-body ol,
.post-content-body ul,
.post-content-body ol {
    margin: 0 0 1.6em 1.3333em;
    line-height: 1.5;
}
.page-content-body ul,
.post-content-body ul {
    list-style: disc;
}
.page-content-body ol,
.post-content-body ol {
    list-style: decimal;
}
.page-content-body li > ul,
.page-content-body li > ol,
.post-content-body li > ul,
.post-content-body li > ol {
    margin-bottom: 0;
}

.latst-article .container {
  position: relative;
}
.latst-article .area-img img {
  width: 100%;
}
.latst-article .area-content {
  position: absolute;
  color: #fff;
}
.latst-article .area-content .category {
  display: block;
  float: left;
}
.latst-article .area-content .category a {
  display: block;
  float: left;
  padding: 12px 20px;
  color: #484848;
  font-size: 13px;
  background-color: #fff;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.latst-article .area-content .category a:hover {
  color: #fff;
  /* background-color: #f7ca18; */
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.latst-article .area-content .article-title {
  display: block;
  margin: 20px 0;
  float: left;
  width: 100%;
}
@media (min-width: 768px) {
  .latst-article .area-content {
    bottom: 70px;
    left: 70px;
  }
  .latst-article .area-content .article-title h2 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .latst-article .area-content {
    bottom: 10px;
    left: 30px;
    width: 90%;
  }
  .latst-article .area-content .article-title h2 {
    font-size: 15px;
  }
}

.blog-content {
  padding: 55px 0;
}
.blog-content .articles .article-item .area-img img {
  width: 100%;
}
.blog-content .articles .article-item .area-content {
  margin-top: -2px;
}
.blog-content .articles .article-item .area-content h3{
  margin-top: 0px;
  line-height: 25px;
}
.blog-content .articles .article-item .area-content .article-left {
  padding: 0;
  border-right: 1px solid #2d2d2d;
}
.blog-content .articles .article-item .area-content .article-left .stats {
  padding: 15px 5px;
  float: left;
  width: 100%;
}
.blog-content .articles .article-item .area-content .article-left .stats .text-content {
  margin-right: 0;
}
.blog-content .articles .article-item .area-content .article-left .catetory-title {
  background-color: #2d2d2d;
  text-align: center;
  padding: 9px;
}
.blog-content .articles .sticky .area-content .article-left .catetory-title {
  /* background-color: #f7ca18; */
}
.blog-content .articles .sticky .area-content .article-left{
  /* border-right: 1px solid #f7ca18; */
}
.blog-content .articles .article-item .area-content .article-left .catetory-title h6 {
  color: #ffffff;
  font-size: 13px;
  margin:0px;
}
.blog-content .articles .article-item .area-content .article-right {
  padding-right: 0;
  padding-top: 23px;
  margin-bottom: 50px;
  padding-left: 30px;
}
.blog-content .articles .article-item .area-content .article-right h3 {
  margin-bottom: 15px;
}
.blog-content .articles .article-item .area-content .article-right h3 a {
  color: #484848;
  font-size: 23px;
  font-family: "Montserrat-Regular";
}
.blog-content .articles .article-item .area-content .article-right h3 a:hover {
  /* color: #f7ca18; */
}
.blog-content .articles .article-item .area-content .article-right p {
  font-size: 13px;
  font-family: "Montserrat-Light";
  line-height: 1.6;
  margin-bottom: 30px;
}
.blog-content .articles .article-item .area-content .article-right .quote-source {
  color: #484848;
  font-size: 16px !important;
}
@media (max-width: 767px) {
  .blog-content .articles .article-item .area-content .article-right {
    padding-left: 0 !important;
  }
}

.blog-right .block-item {
  padding-bottom: 35px;
  float: left;
  width: 100%;
}
.blog-right .block-title {
  border-bottom: 1px solid #acacac;
  padding-bottom: 22px;
  margin-bottom: 30px;
}
.blog-right .block-title h5 {
  font-size: 20px;
  color: #484848;
}
.blog-right .popurlar-port ul li {
  float: left;
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}
.blog-right .popurlar-port ul li .area-img {
  width: 30%;
  float: left;
}
.blog-right .popurlar-port ul li .area-img img {
  max-width: 100%;
}
.blog-right .popurlar-port ul li .area-content {
  width: 70%;
  float: left;
  padding-left: 20px;
}
.blog-right .popurlar-port ul li .area-content h6 {
  font-size: 14px;
  color: #484848;
  padding: 5px 0 15px;
  line-height: 1.4;
}
.blog-right .twitter .twitter-icon {
  font-size: 20px;
  padding-bottom: 20px;
}
.blog-right .twitter .twitter-content {
  font-size: 17px;
  color: #484848;
  line-height: 1.6;
}
.blog-right .twitter .twitter-user {
  margin-top: 15px;
}
.blog-right .tag .list-inline li a {
  cursor: pointer;
  padding: 10px 17px;
  font-size: 14px;
  font-family: "Montserrat-Light";
  border: 1px solid #e1e1e1;
  display: block;
  margin-bottom: 15px;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.blog-right .tag .list-inline li a:hover {
  /* background-color: #f7ca18; */
  color: #fff;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
@media (min-width: 1200px) {
  .blog-right .block-content {
    padding: 0 25px;
  }
  .blog-right .tag .list-inline li a {
    padding: 10px 17px;
  }
}
@media (max-width: 1199px) {
  .blog-right .tag .list-inline li a {
    padding: 10px 14px;
  }
}

.stats span {
  float: left;
  margin-right: 20px;
  font-size: 11px!important;
}
.stats .text-content {
  
  line-height: 1.2;
}
.stats .icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-repeat: no-repeat !important;
}
.stats .clock-icon-while {
  background: url("css/icons/clock-icon-while.png");
}
.stats .comment-icon-while {
  background: url("css/icons/comment-icon-while.png");
}
.stats .clock-icon {
  background: url("css/icons/clock-icon.png");
}
.stats .comment-icon {
  background: url("css/icons/comments-icon.png");
}
.stats .user-icon {
  background: url("css/icons/user-icon.png");
}
.stats .paper-icon {
  background: url("css/icons/user-icon.png");
}
.articles .article-item .stats  span{
  line-height: 1;
}
span.stats-item {
   line-height: 1;
}
@media (max-width: 768px) {
  .stats > span {
    margin-bottom: 10px;
  }
}

/* Blog Single Page */

.blog-post-content .blog-post .area-content h1,.blog-post-content .blog-post .area-content h2,.blog-post-content .blog-post .area-content h3,.blog-post-content .blog-post .area-content h4,.blog-post-content .blog-post .area-content h5,.blog-post-content .blog-post .area-content h6{ text-transform: uppercase;  }

.dark_overlay h2 {
 color:#fff;
}
.core-quote {
 padding: 25px 0 75px;
 text-align:center;
}
.core-quote p {
 margin:0px!important;
}
.blog-post-content .blog-post .area-img img {
  width: 100%;
  margin-bottom: 24px;
}
.blog-post-content .blog-post .area-content {
  border-bottom: 1px solid #acacac;
  float: left;
  width: 100%;
  font-size: 14px;
}
.blog-post-content .blog-post .area-content td{
}
.blog-post-content .blog-post .area-content ul, .comment-content ul{
    list-style: disc;
    line-height: 1.5;
}
.blog-post-content .blog-post .area-content ol, .comment-content ol{
    list-style: decimal;
    line-height: 1.5;
}
.comment-content ul, .comment-content ol, .comment-content li{
    margin-bottom:0px;
}


.comment-content ul,
.comment-content ol,
.comment-content li {
    margin-bottom: 0px;
}
.comment-content li {
    padding: 0px!important;
}
.comment-content ul,
.comment-content ol {
    margin: 0 0 1.6em 1.3333em;
}
.comment-content li > ul,
.comment-content li > ol {
    margin-bottom: 0px;
}


.blog-post-content .blog-post .area-content ul li ul{
    margin-bottom:0px;
}
.blog-post-content .blog-post .area-content .stats {
  float: left;
}
.blog-post-content .blog-post .area-content .desc {
  float: left;
  width: 100%;
}
.blog-post-content .blog-post .area-content p {
  margin-bottom: 30px;
  line-height: 1.6;
  font-size: 14px;
  font-family: "Montserrat-Light";
}
.page-content-body p, .page-content-body ul, .page-content-body ol, .page-content-body dl{
  font-size: 14px;
}
.blog-post-content .blog-post .area-content .desc-center {
  width: 100%;
  display: block;
  float: left;
}
.blog-post-content .blog-post .area-content .desc-center p {
  color: #2d2d2d;
  font-size: 26px;
  font-family: "Montserrat-Light";
  line-height: 1.4;
  padding: 0 24px;
}
@media (min-width: 768px) {
  .blog-post-content .blog-post .area-content .desc-center {
    padding: 0px 0 50px;
  }
  .blog-post-content .blog-post .area-content .desc-center p {
    font-size: 26px;
    padding: 0 24px;
  }
}
@media (max-width: 768px) {
  .blog-post-content .blog-post .area-content .desc-center {
    padding: 0px 0 55px;
  }
  .blog-post-content .blog-post .area-content .desc-center p {
    font-size: 20px;
    padding: 0 15px;
  }
}
.blog-post-content .blog-post .area-content .list-item {
  margin-top: 15px;
  margin-bottom: 50px;
  float: left;
  width: 100%;
}
.blog-post-content .blog-post .area-content .list-item li {
  float: left;
  width: 100%;
  line-height: 3;
  position: relative;
  font-size: 14px;
  font-family: "Montserrat-Light";
}
.blog-post-content .blog-post .area-content .list-item li:before {
  content: "";
  height: 15px;
  width: 15px;
  /* background-color: #f7ca18; */
  margin-right: 35px;
  position: absolute;
  left: 0;
  top: 14px;
}
@media (min-width: 768px) {
  .blog-post-content .blog-post .area-content {
    padding: 0 0 0 35px;
  }
  .blog-post-content .blog-post .area-content .list-item {
    margin-left: 35px;
  }
  .blog-post-content .blog-post .area-content .list-item li {
    padding-left: 50px;
  }
  .blog-post-content .blog-post .area-content > h2:first-child {
    font-size: 23px;
    margin-top:0px!important;
  }
  .blog-post-content .blog-post .area-content .stats {
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .blog-post-content .blog-post .area-content > h2:first-child {
    font-size: 18px;
    margin-top:0px!important;
  }
  .blog-post-content .blog-post .area-content .stats {
    margin-bottom: 15px;
  }
  .blog-post-content .blog-post .area-img {
    margin-bottom: 20px;
  }
  .blog-post-content .blog-post .list-item li {
    padding-left: 25px;
  }
}
.blog-post-content .share, .blog-post-content .comments, .blog-post-content .write-comments {
  width: 100%;
  float: left;
}
.blog-post-content .share {
  text-align: center;
}
.blog-post-content .share h4 {
  margin-bottom: 30px;
}
.blog-post-content .share ul li {
  float: none;
  display: inline-block;
}
.blog-post-content .write-comments .buttons-set a {
  padding: 23px 60px;
}
@media (min-width: 768px) {
  .blog-post-content .comments {
    padding: 25px 0 55px;
  }
}
@media (max-width: 767px) {
  .blog-post-content .comments {
    padding: 0 0 35px;
  }
}

.blog-content.blog-content-fullwidth {
  padding-top: 0 !important;
}

.blog-post-content.full-width .area-img {
  position: relative;
}
.blog-post-content.full-width .area-img .blog-text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 0;
  right: 0;
  margin: auto;
  color: #fff;
  height: 100px;
  text-align: center;
}
.blog-post-content.full-width .area-img .blog-text .category {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
}
.blog-post-content.full-width .area-img .blog-text .category a {
  display: inline-block;
  padding: 12px 20px;
  color: #484848;
  font-size: 13px;
  background-color: #fff;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.blog-post-content.full-width .area-img .blog-text .category a:hover {
  color: #fff;
  /* background-color: #f7ca18; */
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.blog-post-content.full-width .area-img .blog-text .article-title {
  display: block;
  margin: 20px 0;
  float: left;
  width: 100%;
}
@media (min-width: 768px) {
  .blog-post-content.full-width .area-img .blog-text .article-title h2 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .blog-post-content.full-width .area-img .blog-text .article-title h2 {
    font-size: 18px;
  }
}
.blog-post-content.full-width .area-content {
  border-bottom: none;
  padding-bottom: 0;
}
.blog-post-content.full-width .area-content .stats {
  float: left;
  width: 100%;
  border-bottom: 1px solid #acacac;
  padding-bottom: 45px;
  margin-bottom: 0;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .blog-post-content.full-width .area-content {
    margin-top: 20px;
  }
}
.blog-post-content.full-width .area-content, .blog-post-content.full-width .share, .blog-post-content.full-width .comments, .blog-post-content.full-width .write-comments {
  width: 100%;
  float: left;
}
.blog-post-content.full-width .write-comments {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .blog-post-content.full-width .area-content, .blog-post-content.full-width .share, .blog-post-content.full-width .comments, .blog-post-content.full-width .write-comments {
    padding-left: 10%;
    padding-right: 10%;
  }
}
.blog-post .area-content h2{
  margin-bottom: 20px;
}
.sticky .blog-post .area-content h2{
    border-left:4px solid #acacac;padding-left:12px;
}
iframe {
    width: 100%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

iframe {
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

/* Contact Us Page */

.map-contact iframe {
  width: 100% ;
  float: left;
}
#map {
  width: 100%;
  height: 500px;
}
.content-wrapper {
  overflow: hidden;
}
.content-wrapper .map-info {
  margin-left: 100px;
  margin-top: 45px;
  padding-left: 45px;
}
.content-wrapper .map-info .title-visit {
  margin-bottom: 45px;
}
.content-wrapper .map-info .title-visit h3 {
  font-weight: lighter;
  letter-spacing: 5px;
}
.content-wrapper .map-info .title-touch h3 {
  font-weight: lighter;
  letter-spacing: 6px;
  margin-left: 16px;
  word-spacing: -3px;
}
.content-wrapper .map-info .content-visit {
  margin-left: -2px;
  margin-top: 46px;
  padding-right: 73px;
}
.content-wrapper .map-info .content-visit p {
  margin: 0 0 22px;
}
.content-wrapper .map-info .content-touch {
  padding: 25px 16px;
}
.content-wrapper .map-info .content-touch a {
  color: #2c3240;
  word-spacing: 6px;
}
.content-wrapper .map-info .content-touch a:hover {
  color: #cda96f;
}
.content-wrapper .map-info .content-touch .content-address {
  margin-top: 21px;
}
.content-wrapper .map-info .link-contact {
  color: #cda96f ;
  text-decoration: none;
  border-bottom: 1px solid #cda96f;
  padding-bottom: 2px;
}
.content-wrapper .contactForm {
  line-height: 65px;
  margin-bottom: -5px;
  padding: 75px 97px;
}
.content-wrapper .contactForm h3 {
  font-weight: lighter;
  letter-spacing: 5px;
  margin-left: 2px;
  word-spacing: 1.5px;
  font-size: 24px;
  font-family: "Montserrat-Light";
}
.content-wrapper .contactForm .form-list {
  padding: 0;
}
.content-wrapper .contactForm .form-list .form-name {
  line-height: 52px;
  margin-top: 33px;
}
.content-wrapper .contactForm .form-list .form-email {
  line-height: 55px;
  margin-top: 8px;
}
.content-wrapper .contactForm .form-list .form-message {
  line-height: 55px;
  margin-top: 7px;
}
.content-wrapper .contactForm .form-list .input-box {
  margin-right: 6px;
  margin-top: 1px;
}
.content-wrapper .contactForm .form-list .input-box input {
  border: 1px solid #dcdcdc;
  font-family: montserrat;
  height: 58px;
  padding: 0 15px;
  width: 100%;
}
.content-wrapper .contactForm .form-list .input-box textarea {
  border: 1px solid #dcdcdc;
  height: 140px;
  margin: 0 1px;
  width: 100%;
  padding: 0 15px;
  font-family: montserrat;
}
.content-wrapper .contactForm .buttons-set-contact {
  padding: 0;
}
.content-wrapper .contactForm .buttons-set-contact .button1 {
  border-style: none;
  float: right;
  line-height: normal;
  margin-right: 5px;
  margin-top: 26px;
  padding: 15px 66px;
  color:#fff;
}
.contact-us .map-info h3{
  margin:20px 0 10px 0;
  font-family: "Montserrat-Light";
  font-size:24px;
}
.contact-us .map-info .content-touch div{
  margin-top:12px;
}
.contact-us .map-info .content-visit p{
  font-family: "Montserrat-Light";
  font-size:17px;
  line-height:24px;
}
.contact-us .map-info .content-visit{
  margin-top: 45px;
}
@media (max-width: 991px) {
  .contact-us .map-info {
    margin-left: 0;
    margin-top: 30px;
  }
  .contact-us .map-info .title-visit {
    margin-bottom: 35px;
  }
  .contact-us .map-info .content-visit {
    padding-right: 0;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .contact-us .map-info {
    padding: 0;
  }
  .contact-us .map-info .title-touch h3 {
    margin-left: 0px;
  }
  .contact-us .map-info .content-touch {
    padding-left: 0;
  }
  .contact-us .contactForm {
    padding: 0;
    padding-bottom: 75px;
  }
}

/* Typography Pages */
.divider {
  height: 30px;
  clear: both;
  overflow: hidden;
  width: 100%;
}

.divider--sm {
  height: 25px;
}

.divider--md {
  height: 35px;
}

.divider--lg {
  height: 45px;
}

.line10 {
  line-height: 1;
}

.line15 {
  line-height: 1.5;
}

.line20 {
  line-height: 2;
}

.typography {
  color: #2d2d2d;
}
.typography .paragraphs p {
  line-height: 2;
  font-size: 14px;
  font-family: "Montserrat-Light";
  color: #757575;
}
.typography .title-page {
  margin-bottom: 20px;
  margin-top: 30px;
}
.typography .title-page h4 {
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  /* border-bottom: 3px solid #f7ca18; */
  display: inline-block;
}
.typography .highlighter p {
  color: #757575;
}
.typography .blockquotes p {
  padding: 15px 0px 15px 50px;
  color: #757575;
}
.typography .border-blockquotes p {
  /* border: 2px dashed #f7ca18; */
  padding: 45px 50px;
}
.typography .listing li {
  float: left;
  width: 100%;
  line-height: 1.5;
  font-family: "Montserrat-Light";
  font-size: 14px;
  margin-bottom: 20px;
  color: #757575;
}
.typography .listing .simple-list li:before {
  content: "";
  width: 20px;
  height: 20px;
  float: left;
  /* background-color: #f7ca18; */
  margin-right: 20px;
}
.typography .listing .decimal-list {
  list-style-type: none;
  counter-reset: myCounter;
}
.typography .listing .decimal-list li {
  text-indent: 0;
  position: relative;
  padding-left: 15px;
}
.typography .listing .decimal-list ul {
  counter-reset: myCounter1;
  list-style-type: none;
  padding: 0;
  margin: 7px 0 0 17px;
}
.typography .listing .decimal-list ul li:before {
  content: counter(myCounter1);
  counter-increment: myCounter1;
}
.typography .listing .decimal-list li:before {
  content: counter(myCounter);
  counter-increment: myCounter;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.typography .alignment p {
  color: #757575;
}
.post-content-body{padding-bottom: 55px;}
.page-content > h1:first-child,
.post-content-body > h1:first-child,
.page-content > h2:first-child,
.post-content-body> h2:first-child,
.page-content > h3:first-child,
.post-content-body > h3:first-child,
.page-content > h4:first-child,
.post-content-body> h4:first-child,
.page-content > h5:first-child,
.post-content-body> h5:first-child,
.page-content > h6:first-child,
.post-content-body> h6:first-child,
.comment-content > h1:first-child,
.comment-content > h2:first-child,
.comment-content > h3:first-child,
.comment-content > h4:first-child,
.comment-content > h5:first-child,
.comment-content > h6:first-child {
    margin-top: 0;
}
