
            <!--
            /* COLORS TO CHANGE */
            
            div#navigation ul li.active a {
                background: #FB5574;
            }
            /* SCALE */
            
            * {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
            
            .validation_container {
                padding-left: 14px;
            }
            
            #container {
                max-width: 800px;
                width: 100%;
            }
            
            #navigation ul li {
                display: inline-block;
            }
            /* DEFAULT STYLES */
            
            body {
                padding: 10px;
            }
            
            h1,
            h2 {
                background: none;
                color: #8095A0;
                font-size: 2em;
                font-weight: 300;
                margin-bottom: 0;
            }
            
            a {
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
            
            #control_container {
                text-align: center;
            }
            
            p {
                text-align: left;
            }
            /*
#control_container img{
  display:none;
}
*/
            
            div#navigation ul {
                background: #08ACF0;
                padding: 0;
                text-align: left;
            }
            
            div#navigation ul li {
                padding: 0;
            }
            
            div#navigation ul li a {
                background: none;
                display: block;
                font-size: 1em;
                line-height: 2.5em;
                padding: 0 8px;
            }
            
            div#navigation ul li a:hover {
                background-color: #8095A0;
                text-decoration: none;
            }
            
            div#navigation ul li.active a {
                font-size: 1em;
                text-shadow: none;
            }
            
            .form_elements {
                width: 100%;
            }
            
            .existing_records_table {
                margin: 0 auto;
                width: 80%;
            }
            
            .form_elements tbody tr th,
            .existing_records_table tbody tr th {
                color: #8095A0;
            }
            
            .form_elements tbody tr td span,
            .form_elements tbody tr th span,
            .existing_records_table tbody tr td span,
            .existing_records_table tbody tr th span {
                color: #8095A0;
                font-size: 14px;
            }
            
            .form_elements tbody tr:nth-child(odd) td,
            .form_elements tbody tr:nth-child(odd) th,
            .existing_records_table tbody tr:nth-child(odd) td,
            .existing_records_table tbody tr:nth-child(odd) th {
                background-color: #eee;
                border: 0 none;
            }
            
            .form_elements tbody tr:nth-child(even) td,
            .form_elements tbody tr:nth-child(even) th,
            .existing_records_table tbody tr:nth-child(even) td,
            .existing_records_table tbody tr:nth-child(even) th {
                background-color: #fafafa;
                border: 0 none;
                color: #8095A0
            }
            
            .form_elements .radiobuttonlist th,
            .form_elements .radiobuttonlist td,
            .form_elements .checkboxlist th,
            .form_elements .checkboxlist td,
            .existing_records_table .radiobuttonlist th,
            .existing_records_table .radiobuttonlist td,
            .existing_records_table .checkboxlist th,
            .existing_records_table .checkboxlist td {
                background: none !important;
            }
            
            textarea {
                border-color: 1px solid #ddd;
            }
            
            #button_container {
                margin: 2em 0 0 0;
                padding: 2em 0 0 0;
                text-align: center;
            }
            
            #button_container a {
                background: #fafafa;
                border: 1px solid #08ACF0;
                border-radius: 3px;
                color: #08ACF0;
                padding: 0.75em 1em;
            }
            
            #button_container a:hover {
                background: #08ACF0;
                color: #fafafa;
            }
            
            .error,
            #validationSummmary {
                background: #fff5f5;
                border: 1px solid #ffc2c2;
                color: #c20000 !important;
                display: block;
                font-weight: 400;
                margin-bottom: 0.75em;
                padding: 0.75em;
                position: relative;
            }
            
            .form-body {
                margin: 2em 0;
                text-align: left;
            }
            
            .form-close {
                padding: 10px 0 0 0;
                text-align: center;
            }
            
            .button.close-modal-form {
                background: #fd7201;
                border: 1px solid #fd7201;
                border-radius: 3px;
                color: #fafafa;
                display: inline-block;
                padding: 0.75em 1em;
                text-decoration: none;
            }
            
            .button.close-modal-form:hover {
                background: #fafafa;
                color: #fd7201;
            }

            .center {
                margin: auto;
                width: 50%;
                border: 0px solid green;
                padding: 10px;
            }

            select.form-control:not([size]):not([multiple]) {
                height: calc(2.6rem + 4px) !important;
            }

            input[type="text"], textarea, select, .watermark {
                font-size: 1em;
                height: calc(2.6rem + 4px) !important;
            }