html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

#container {
  width: 800px;
  margin: auto;
  font-family: 'Segoe UI', HelveticaNeue, 'Helvetica Neue', Roboto, Helvetica, Arial, sans-serif;
  font-size: 11pt;
  line-height: normal; }

textarea, textarea.watermark {
  width: 95%; }

p {
  margin-top: 14px;
  margin-bottom: 14px; }

a {
  color: #007DDE; }

a img {
  border: 0; }

input[type="text"], textarea, select, .watermark {
  font-size: 1em; }

h1 {
  padding: .2em;
  font-size: 1.6em; }

h2 {
  padding: .2em 0 .1em .2em;
  font-size: 1.4em; }

h1, h2 {
  background: #333333;
  color: white;
  border: 0; }

h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin-bottom: .7em;
  margin-top: 1em; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

ul {
  list-style-type: circle;
  padding-left: 1em;
  margin-left: 1.5em;
  margin-bottom: 1em; }

ol {
  list-style-type: decimal;
  padding-left: 1em;
  margin-left: 1.5em;
  margin-bottom: 1em; }

table.form_elements {
  border-collapse: collapse; }
  table.form_elements td.control_cell {
    padding: .3em;
    background-color: #EEEDE1;
    border-top: solid 1px #A79E8C;
    border-bottom: solid 1px #A79E8C; }
  table.form_elements th {
    padding: 6px;
    background-color: #EEEDE1;
    border-top: solid 1px #A79E8C;
    border-bottom: solid 1px #A79E8C;
    color: #6A270C;
    vertical-align: top;
    text-align: left;
    font-weight: bold; }

.xsl_transformation {
  font-size: .9em; }
  .xsl_transformation h1, .xsl_transformation h2 {
    background-image: none !important;
    background-color: white !important;
    color: black; }
  .xsl_transformation h2 {
    margin-left: 0;
    font-size: 1.6em; }
  .xsl_transformation h3 {
    margin-left: 1em;
    font-size: 1.2em; }
  .xsl_transformation h4 {
    margin-left: 1.1em;
    font-size: 1.1em; }
  .xsl_transformation h5 {
    margin-left: 1.6em;
    font-size: 1.0em; }
  .xsl_transformation a.edit {
    color: black;
    padding-right: 24px;
    text-decoration: none;
    background-image: url('../images/page_edit.png?1522859177');
    background-repeat: no-repeat;
    background-position: right center; }
  .xsl_transformation table {
    border-collapse: collapse;
    margin-left: 2em; }
    .xsl_transformation table td {
      width: 200px;
      padding: .3em;
      background-color: #EEEDE1;
      border-top: solid 1px #A79E8C;
      border-bottom: solid 1px #A79E8C; }
    .xsl_transformation table th {
      width: 400px;
      padding: 4px .3em .3em .3em;
      background-color: #EEEDE1;
      border-top: solid 1px #A79E8C;
      border-bottom: solid 1px #A79E8C;
      color: #6A270C;
      vertical-align: top;
      text-align: left;
      font-weight: bold; }
    .xsl_transformation table .spanned_header, .xsl_transformation table .spanned_column {
      width: 100% !important; }

.horizontal_table td {
  width: 100px !important; }
.horizontal_table th {
  width: 100px !important; }

th.spanned_header {
  border-bottom: 0 !important; }

td.spanned_column {
  border-top: 0 !important; }

th.single_line_control_header {
  vertical-align: middle; }

#button_container {
  margin-top: 10px;
  border-top: solid 1px #BCBAA6;
  padding: 1em 0 1em 0; }

.error, #validationSummmary {
  color: white !important;
  background-color: #cc0000;
  padding: .5em;
  border: solid 1px #cc9999;
  font-weight: bold;
  margin: 1em 0 1em 0; }
  .error a, #validationSummmary a {
    color: #fff; }

.success {
  font-weight: bold;
  color: #006600;
  background-color: #e2f9e3;
  border: solid 1px #99cc99;
  padding: .5em; }

.information {
  background-color: #ffffcc;
  border: solid 1px #ff9900;
  padding: .5em; }

.text_box, .select_one, .select_multiple, .watermark {
  width: 18em; }

.validation_container {
  padding-left: 1em;
  vertical-align: top; }

.existing_records_table {
  border-collapse: collapse;
  margin-bottom: 1.5em;
  margin-left: 1.5em; }
  .existing_records_table td, .existing_records_table th {
    border: solid 1px #c8c8c8;
    padding: .3em;
    vertical-align: middle; }
  .existing_records_table th {
    background-color: #EEEDE1;
    color: #6A270C;
    font-weight: bold; }

/* Navigation bar */
#navigation ul {
  background: #808080;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwODA4MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUwNTA1MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #505050));
  background: -moz-linear-gradient(#808080, #505050);
  background: -webkit-linear-gradient(#808080, #505050);
  background: linear-gradient(#808080, #505050);
  padding: .3em;
  margin: 1em 0 1em 0;
  vertical-align: middle; }
  #navigation ul li {
    display: inline;
    padding: .5em; }
    #navigation ul li.active a {
      font-size: 1.35em;
      color: white;
      text-decoration: none;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.4); }
  #navigation ul a {
    color: white;
    text-decoration: none;
    vertical-align: middle; }
    #navigation ul a:hover {
      text-decoration: underline; }

/* Buttons */
#btnSubmit, #btnSubmitAddRecord, #btnCancel {
  text-decoration: none;
  padding: .3em .5em .3em .5em;
  color: white;
  margin-right: 1em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

#btnSubmit, #btnSubmitAddRecord {
  background: #558155;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1ODE1NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM2NWEzNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #558155), color-stop(100%, #365a36));
  background: -moz-linear-gradient(#558155, #365a36);
  background: -webkit-linear-gradient(#558155, #365a36);
  background: linear-gradient(#558155, #365a36); }

#btnSubmit.disabled {
  background: #5c5c5c;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVjNWM1YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUwNTA1MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5c5c5c), color-stop(100%, #505050));
  background: -moz-linear-gradient(#5c5c5c, #505050);
  background: -webkit-linear-gradient(#5c5c5c, #505050);
  background: linear-gradient(#5c5c5c, #505050);
  color: #CCCCCC; }

#btnCancel {
  background: #b83c3c;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I4M2MzYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FlMjgyOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b83c3c), color-stop(100%, #ae2828));
  background: -moz-linear-gradient(#b83c3c, #ae2828);
  background: -webkit-linear-gradient(#b83c3c, #ae2828);
  background: linear-gradient(#b83c3c, #ae2828); }

/* Special Elements */
.watermark {
  color: #99a;
  font-style: italic; }

.help_text {
  font-style: italic;
  font-size: smaller;
  width: 300px;
  color: #333; }

td.spanned_column .help_text {
  width: 98%; }

.required_field_validator {
  visibility: visible !important;
  display: inline;
  color: red;
  font-size: small; }

.date_picker select {
  margin-right: .3em; }

img.icon_left {
  margin-right: .3em;
  vertical-align: middle;
  text-align: right; }

/* Save & Finish Later */
.save_email_container {
  margin-top: 1em; }
  .save_email_container .save_email {
    margin-top: 1em;
    background: transparent url('../images/email_link.png?1522859177') no-repeat left center;
    padding-left: 20px; }
    .save_email_container .save_email input {
      width: 25em; }

/* Radio button lists */
table.radiobuttonlist input {
  display: block;
  float: left; }
table.radiobuttonlist label {
  display: block;
  padding-left: 1.5em; }
table.radiobuttonlist td {
  padding: 3px; }

/* Control-adapted checkbox list */
table.checkboxlist {
  border-collapse: collapse; }
  table.checkboxlist td {
    padding: 3px; }
    table.checkboxlist td.checkbox-pair:hover {
      background-color: #ddc; }
    table.checkboxlist td.checkbox-pair label {
      display: block;
      margin-left: 26px; }
    table.checkboxlist td div.checkbox-control {
      float: left; }

/* Spinner Container */
#spinner_container {
  margin-top: 10px;
  border-top: solid 1px #BCBAA6;
  padding: 1em 0 1em 0;
  font-size: 18px;
  font-style: italic;
  color: #666; }

/* Language Selector */
#language_selector {
  float: right;
  display: inline;
  margin: 0 0 .5em 0;
  padding: 0; }
  #language_selector ul {
    margin: 0;
    padding: 0; }
    #language_selector ul li {
      display: inline;
      vertical-align: middle;
      padding: 0 .3em 0 .3em; }
      #language_selector ul li img {
        padding-right: .3em; }
      #language_selector ul li a {
        text-decoration: none;
        font-size: .9em;
        color: blue !important; }

.maintenance {
  background-color: #fff;
  margin: 1em auto;
  border: 8px solid red;
  background-color: #fefefe;
  padding: 1em; }

.maintenance strong {
  color: #000;
  background: #ffc; }

#panFinishLater {
  display: none;
  padding: .5em; }

.calendar_activator {
  margin-left: 0.3em; }

#privacy-policy {
  text-align: right; }
  #privacy-policy a {
    font-style: italic;
    font-size: 10px;
    margin-top: 8px;
    padding-bottom: 8px;
    color: #999; }