/* #37517B
#191F6F
#FB5574
#8095A0
#D4D4D9
#FC9933
#1BB4AD
#F4B510
#508379
#FE650B
#08ACF0
#0A222E
#F91F14
#974A6D
#FFFFFF */


:root {
    --primary-color: #ff152b;
    --other-color: #FB5574;
    --dark-gray: #8095A0;
    --black: #0A222E;
    --light-gray: #CCCCCC;
    --light-white: #FFFFFF;
}

@font-face {
    font-family: "Arial_bold";
    src: url("../fonts/Arial_Rounded_MT_Bold.ttf");
}

@font-face {
    font-family: "Arial_regular";
    src: url("../fonts/ArialRoundedMTStd.otf");
}

@font-face {
    font-family: "Arial_light";
    src: url("../fonts/ArialRoundedMTStd_Light.otf");
}


body, html {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: var(--light-white); */
    width: 100%;
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;                        
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

::placeholder {
    color: var(--dark-gray);
}

:-ms-input-placeholder {
    color: var(--dark-gray);
}

::-ms-input-placeholder {
    color: var(--dark-gray);
}

.back_btn h1 {
 color: var(--primary-color);
 font-size: 18px;
 margin-left: 40px;
 margin-top:50px;
 font-family:Arial_regular;
}

.back_btn img {
    width:20px; height:20px; margin-right: 10px
}

.logo_holder {
    background-color: white;
    height: 352px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3);
}



.logo_holder center {
    margin-top: 50px;
}


.logo_holder img {
    width: 200px;
    height: 180px;
}

.logo_holder h3 {
    font-size: 21px;
    color: var(--primary-color);
    font-family:Arial_regular;
}

.logo_holder h4 {
    font-size: 15px;
    font-style: italic;
    font-family:Arial_regular;
}



.form_holder {
    background-color: var(--primary-color);
    height: 352px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -1px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3);
}

.login_form {
    margin-top: 90px;
}

.form_holder h2 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 18px;
    margin-top: 7px;
    font-family:Arial_regular;
    font-style: italic
}

.form_holder h1{
    color: white;
    font-size: 25px;
    font-family:Arial_bold;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-style: normal
}

.form_holder center {
    margin-top: 50px;
}

.email_input {
    width: 80%;
    height: 45px;
    font-size: 18px;
    color: var(--dark-gray);
    padding-left: 20px;
    padding-right: 20px;
    margin: 7px;
    border-radius: 3px;
    font-family:Arial_regular;
    border: 0px solid white
}

.password_input {
    width: 80%;
    height: 45px;
    font-size: 18px;
    color: var(--dark-gray);
    font-family:Arial_regular;
    padding-left: 20px;
    padding-right: 20px;
    margin: 7px;
    border-radius: 3px;
    border: 0px solid white
}

.submit_btn {
    width: 80%;
    height: 45px;
    font-size: 18px;
    color: white;
    margin: 7px;
    font-family:Arial_regular;
    border-radius: 3px;
    border: 1px solid white;
    background-color: transparent
}

@media (min-width: 320px) and (max-width: 480px) {

    .back_btn h1 {
        color: var(--primary-color);
        font-size: 20px;
        margin-left: 30px;
        margin-top: 50px;
    }
    
    .back_btn img {
        width:20px; height:20px; margin-right: 10px
    }

    .logo_holder {
        background-color: white;
        height: 352px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
        border: 1px solid #aaaaaa;
    }

    .form_holder {
        background-color: var(--primary-color);
        height: 352px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    }

    .login_form {
        margin-top: 50px;
    }

    .form_holder center {
        margin-top: -20px;
        margin-bottom: 150px;
    }

    .form_holder h1 {
        color: white;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 50px;
    }



    
@media (min-width: 100px) and (max-width: 240px) {

    .back_btn h1 {
        color: var(--primary-color);
        font-size: 20px;
        margin-left: 30px;
        margin-top: 50px;
    }
    
    .back_btn img {
        width:20px; height:20px; margin-right: 10px
    }

    .logo_holder {
        background-color: white;
        height: 352px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
        border: 1px solid #aaaaaa;
    }

    .form_holder {
        background-color: var(--primary-color);
        height: 352px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    }

    .login_form {
        margin-top: 50px;
    }

    .form_holder center {
        margin-top: -20px;
        margin-bottom: 150px;
    }

    .form_holder h1 {
        color: white;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 50px;
    }
    
    
}
