@font-face {
	font-family: 'eraserregular';
	src: url('fonts/eraserregular.woff2') format('woff2'), url('fonts/eraserregular.woff') format('woff');
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'hellIcons';
	src: url('fonts/hellIcons.woff') format('woff');
	font-weight: normal;
	font-style: normal
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

body {
	height: auto;
	min-height: 100%
}

a:focus, a:active, button:focus, button:active {
	outline: none;
	text-decoration: none
}

button::-moz-focus-inner {
	border: 0
}

img {
	max-width: 100%;
	height: auto
}

textarea {
	resize: vertical
}

html {
	background: #fff
}

body.page-template-template-home2 {
	background: #E7F7FD !important;
	height: auto;
}

body.page-template-template-home2, body.page-template-template-home2 *, body > footer, body > footer * {
	list-style:  none;
	font-family: "Work Sans", sans-serif !important;
}

::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
	color: #b6c7d2
}

:-moz-placeholder, .form-control:-moz-placeholder {
	color: #b6c7d2
}

::-moz-placeholder, .form-control::-moz-placeholder {
	color: #b6c7d2
}

:-ms-input-placeholder, .form-control:-ms-input-placeholder {
	color: #b6c7d2
}

br.clearfix {
	clear: both
}

.btn {
	border-radius: 4px;
	padding: 0 32px;
	line-height: 56px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease
}

.btn:hover {
	color: #fff;
	text-decoration: none
}

.btn.btn-orange, input[type="submit"].btn.btn-orange {
	background-color: #fff !important;
}

.btn.btn-orange:hover {
	background-color: #faa00c
}

.btn.btn-red {
	background-color: #f17334;
	font-weight: bold;
	-webkit-box-shadow: none;
	box-shadow: none
}

.btn.btn-red:hover, .btn.btn-red:focus {
	background-color: #E75D28
}

.btn.btn-blue {
	background-color: #6eceed !important
}

.btn.btn-blue:hover {
	background-color: #61b7d4
}

.btn.btn-green {
	background-color: #08acf0;
}

.btn.btn-green:hover {
	background-color: #08ACF0;
}

.carousel-fade .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity
}

.carousel-fade .next.left, .carousel-fade .prev.right {
	opacity: 1
}

.carousel-fade .item.active {
	opacity: 1
}

.carousel-fade .active.left, .carousel-fade .active.right {
	left: 0;
	opacity: 0;
	z-index: 1
}

@media all and (transform-3d), (-webkit-transform-3d) {
	.carousel-fade .carousel-inner > .item.next, .carousel-fade .carousel-inner > .item.active.right {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}

	.carousel-fade .carousel-inner > .item.prev, .carousel-fade .carousel-inner > .item.active.left {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}

	.carousel-fade .carousel-inner > .item.next.left, .carousel-fade .carousel-inner > .item.prev.right, .carousel-fade .carousel-inner > .item.active {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}

}

@media (min-width:992px) and (max-width:1199px) {
	.page-template-template-home2 .container {
		width: 890px !important;
		max-width: 100%
	}

	body > footer .container.wider, .page-template-template-home2 .container.wider {
		width: 970px !important;
		max-width: 100%
	}

}

@media (min-width:1200px) and (max-width:1279px) {
	.page-template-template-home2 .container {
		width: 1070px !important;
		max-width: 100%
	}

	body > footer .container.wider, .page-template-template-home2 .container.wider {
		width: 1170px !important;
		max-width: 100%
	}

}

@media (min-width:1280px) {
	body > footer .container.wider, .page-template-template-home2 .container.wider {
		width: 1250px !important;
		max-width: 100%
	}

}

.pl55 {
	padding-left: 55px
}

#content {
	position: relative;
	z-index: 10
}

.bg-white {
	background: #fff
}

.nopl {
	padding-left: 0
}

.nopr {
	padding-right: 0
}

.modal.centred .modal-dialog {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-85%);
	-moz-transform: translateX(-50%) translateY(-85%);
	-ms-transform: translateX(-50%) translateY(-85%);
	-o-transform: translateX(-50%) translateY(-85%);
	transform: translateX(-50%) translateY(-85%)
}

.modal.centred.in .modal-dialog {
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%)
}

.video-container {
	margin-top: 25px;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden
}

article header .video-container {
	margin: 0
}

.video-container iframe, .video-container object, .video-container embed, .video-container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.equal-height .carousel, .equal-height .carousel-inner, .equal-height .item {
	height: 100%
}

.page-template-template-home2 h2 {
	color: #0aadf1;
	font-size: 30px;
	margin-top: -60px;
	font-weight: 800;
	margin-left: 20px;
	line-height: 48px;
	z-index: 20000;
}

ul.cloudy {
	list-style: none;
	margin: 25px 0;
	padding: 0
}

ul.cloudy li {
	padding-bottom: 16px
}

ul.cloudy li a {
	display: block;
	position: relative;
	padding-left: 33px;
	line-height: 1;
	color: #243552;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease
}

ul.cloudy li a:hover {
	color: #f37037;
	text-decoration: none
}

ul.cloudy a:before {
	content: "\e900";
	color: #fff;
	font-family: 'hellIcons' !important;
	font-size: 11px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: block;
	position: absolute;
	top: 8px;
	left: 2px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease
}

ul.cloudy a:hover:before {
	color: #f17334
}

ul.cloudy li a .date {
	position: relative;
	opacity: 0.7;
	color: #243552;
	font-size: 14px;
	line-height: 28px;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden
}

ul.cloudy li a .date span {
	position: relative;
	top: 0;
	left: 0%;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease
}

ul.cloudy li a .date span:last-child {
	position: absolute;
	left: 5%;
	opacity: 0
}

ul.cloudy li a:hover .date span:first-child {
	left: -5%;
	opacity: 0
}

ul.cloudy li a:hover .date span:last-child {
	left: 0%;
	opacity: 1
}

.page-template-template-home2 .widget, body >  #content > footer .widget, body > footer .widget {
	margin: 0;
	padding: 0;
	background: none;
	box-shadow: none
}

body.page-template-template-home2 .chosen-container-single .chosen-single div:before {
	content: "";
	background: url(img/dropdown-arrow.svg) center center no-repeat;
	height: 45px
}

body.page-template-template-home2 .chosen-container {
	text-align: left
}

body > header {
	position: relative;
	z-index: 30;
	height: 80px;
	box-shadow: 0 8px 24px rgba(105, 136, 157, 0.08);
	background-color: #ffffff
}

.navbar-default {
	border: none;
	background: none
}

.navbar-right {
	margin-right: 0
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 20px;
	margin: 10px 0 0
}

.navbar-default .navbar-toggle .icon-bar {
	width: 32px;
	height: 3px;
	background-color: #243552;
	border-radius: 1px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 6px
}

.navbar-default .navbar-toggle.shown .icon-bar:first-child {
	-webkit-transform-origin: 0% 100%;
	-ms-transform-origin: 0% 100%;
	-o-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: -4px
}

.navbar-default .navbar-toggle.shown .icon-bar:nth-child(2) {
	opacity: 0
}

.navbar-default .navbar-toggle.shown .icon-bar:last-child {
	margin-top: 11px;
	-webkit-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

#logo {
	display: -moz-inline-stack;
	display: -webkit-inline-box;
	display: inline-block;
	margin: 20px 0 0 48px
}

#logo svg {
	width: 234px;
	height: 34px
}

#header_nav {
	float: right;
	list-style: none;
	margin: 18px 48px 0 0
}

#header_nav li {
	margin-left: 10px;
	display: -moz-inline-stack;
	display: -webkit-inline-box;
	display: inline-block;
	vertical-align: top
}

#header_nav li.btn {
	border: none;
	line-height: 38px;
	padding: 0
}

#header_nav li.btn a {
	display: block;
	padding: 0 24px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 40px
}

#header_nav li.btn a:hover {
	text-decoration: none
}

#header_nav li.menu-item-has-children {
	position: relative;
	padding: 0;
	border-radius: 4px;
	background-color: #f3f9fc
}

#header_nav li.menu-item-has-children > a {
	padding: 0 16px;
	line-height: 40px
}

#header_nav li.menu-item-has-children a img {
	padding: 0;
	margin-right: 14px;
	width: 18px;
	height: 18px;
	vertical-align: sub
}

#header_nav li.menu-item-has-children > a:after {
	content: "";
	display: -moz-inline-stack;
	display: -webkit-inline-box;
	display: inline-block;
	vertical-align: middle;
	background: url(img/dropdown-arrow.svg) center center no-repeat;
	width: 11px;
	height: 7px
}

#header_nav li.menu-item-has-children > a > span {
	display: none
}

#header_nav li.menu-item-has-children:hover ul {
	display: block;
	position: absolute;
	top: 40px;
	left: 0;
	margin: 0;
	padding: 0 0 6px;
	background: #f3f9fc;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px
}

#header_nav li.menu-item-has-children ul li {
	white-space: nowrap;
	margin: 0
}

#header_nav li.menu-item-has-children ul li a {
	padding: 0 16px;
	color: #243552
}

#header_nav li.menu-item-has-children ul li a img {
	margin-right: 6px
}

#header_nav ul {
	display: none
}

body > footer, body > #content > footer {
	position: relative;
	z-index: 10;
	margin-top: 175px
}

#footer_register {
	padding: 10px 0 30px;
	background-color: #08ACF0;
	color: #fff;
	font-size: 32px;
	font-weight: 800;
	line-height: 48px;
}

#footer_register .row {
	position: relative
}

#footer_register .col-lg-4 {
	position: relative;
	z-index: 20
}

#footer_register img {
	position: absolute;
	bottom: -30px;
	left: 0
}

#footer_register .widget a {
	color: #08ACF0;
}

#footer_content {
	padding: 0 0 60px 0;
	background: #fff;
	color: #243552;
	font-size: 14px;
	font-weight: 700;
	line-height: 28px
}

#footer_contact {
	margin-bottom: 50px;
	padding-top: 32px;
	padding-bottom: 32px;
	border-bottom: 2px solid #e9eff1;
	font-size: 20px;
	font-weight: 700;
	line-height: 40px
}

#footer_contact .item {
	display: -moz-inline-stack;
	display: -webkit-inline-box;
	display: inline-block;
	margin-right: 55px;
	font-weight: 900
}

#footer_contact .item:last-child {
	margin-right: 0
}

#footer_contact, #footer_contact a, #footer_contact a:hover {
	color: #243552
}

#footer_contact .icon {
	display: -moz-inline-stack;
	display: -webkit-inline-box;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 24px;
	border-radius: 50%;
	background-color: #e7f7fd;
	line-height: 36px;
	text-align: center
}

#footer_contact .icon img {
	width: auto;
	height: auto;
	max-width: 16px;
	max-height: 16px
}

#footer_content .footer1 {
	color: #243552;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px
}

#footer_content .footer1 img {
	margin-left: -4px;
	margin-bottom: 25px;
	width: 308px;
	height: 44px
}

#footer_content .widget_nav_menu h4 {
	color: #243552;
	font-size: 20px;
	font-weight: 800;
	line-height: 1.6
}

#footer_content .widget_nav_menu li {
	padding: 0;
	line-height: 37px
}

#footer_content .widget_nav_menu li:before {
	display: none
}

#footer_content .widget_nav_menu li a {
	color: #243552;
	font-size: 12px;
	font-weight: 400;
	line-height: 37px;
	text-transform: uppercase
}

.footer_social {
	list-style: none;
	margin: 39px 0 0;
	padding: 0
}

.footer_social li {
	padding: 0 9px;
	display: -moz-inline-stack;
	display: -webkit-inline-box;
	display: inline-block
}

.footer_social li a img {
	padding: 0 !important;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease
}

.footer_social li a:hover img {
	opacity: .5
}

.footer_social li a span {
	display: none
}

#copyrights {
	background-color: #08ACF0;
	/* line-height: 108px; */
	color: #fff;
	font-size: 14px;
}

#clouds {
	position: fixed;
	overflow: hidden;
	z-index: 5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%
}

#clouds .cloud {
	position: absolute;
	-webkit-animation-name: floating;
	animation-name: floating;
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}

#clouds .cloud:nth-child(1) {
	width: 230px;
	height: 148px;
	top: 18.1%;
	left: 11.4%;
	-webkit-animation-delay: 500ms;
	animation-delay: 500ms
}

#clouds .cloud:nth-child(2) {
	width: 143px;
	height: 111px;
	top: 40.3%;
	left: -20px;
	-webkit-animation-delay: 1000ms;
	animation-delay: 1000ms
}

#clouds .cloud:nth-child(3) {
	width: 141px;
	height: 91px;
	top: 58.3%;
	left: 13.6%;
	-webkit-animation-delay: 1500ms;
	animation-delay: 1500ms
}

#clouds .cloud:nth-child(4) {
	width: 168px;
	height: 108px;
	top: 4.2%;
	right: 8.6%;
	-webkit-animation-delay: 2000ms;
	animation-delay: 2000ms
}

#clouds .cloud:nth-child(5) {
	width: 159px;
	height: 101px;
	top: 16.5%;
	right: 39%;
	-webkit-animation-delay: 2500ms;
	animation-delay: 2500ms
}

#clouds .cloud:nth-child(6) {
	width: 130px;
	height: 99px;
	top: 31.9%;
	right: -20px;
	-webkit-animation-delay: 3000ms;
	animation-delay: 3000ms
}

#clouds .cloud:nth-child(7) {
	width: 232px;
	height: 140px;
	top: 49.5%;
	right: 15.6%;
	-webkit-animation-delay: 3500ms;
	animation-delay: 3500ms
}

@keyframes floating {
	from {
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		transform: translate(0px, 0px)
	}

	10% {
		-webkit-transform: translate(-40px, -40px);
		-ms-transform: translate(-40px, -40px);
		transform: translate(-40px, -40px)
	}

	20% {
		-webkit-transform: translate(-20px, -20px);
		-ms-transform: translate(-20px, -20px);
		transform: translate(-20px, -20px)
	}

	30% {
		-webkit-transform: translate(0px, -30px);
		-ms-transform: translate(0px, -30px);
		transform: translate(0px, -30px)
	}

	40% {
		-webkit-transform: translate(20px, -10px);
		-ms-transform: translate(20px, -10px);
		transform: translate(20px, -10px)
	}

	50% {
		-webkit-transform: translate(40px, 20px);
		-ms-transform: translate(40px, 20px);
		transform: translate(40px, 20px)
	}

	60% {
		-webkit-transform: translate(30px, 40px);
		-ms-transform: translate(30px, 40px);
		transform: translate(30px, 40px)
	}

	70% {
		-webkit-transform: translate(0px, 30px);
		-ms-transform: translate(0px, 30px);
		transform: translate(0px, 30px)
	}

	80% {
		-webkit-transform: translate(-20px, 0px);
		-ms-transform: translate(-20px, 0px);
		transform: translate(-20px, 0px)
	}

	90% {
		-webkit-transform: translate(-40px, -20px);
		-ms-transform: translate(-40px, -20px);
		transform: translate(-40px, -20px)
	}

	to {
		-webkit-transform: translate(0px, -0px);
		-ms-transform: translate(0px, -0px);
		transform: translate(0px, -0px)
	}

}

#index_panel {
	margin-top: 100px;
	margin-bottom: 110px
}

ul.menu_second {
	position: relative;
	/* z-index: 20; */
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	line-height: 72px;
	background-color: #f3f9fc;
}

ul.menu_second li {
	display: -moz-inline-stack;
	display: -webkit-inline-box;
	display: inline-block;
	margin: 0 0 0 32px;
	padding: 0
}

ul.menu_second li .sub-menu {
	display: none
}

ul.menu_second li a {
	display: block;
	color: #243552;
	font-size: 16px;
	white-space: nowrap
}

ul.menu_second li a img {
	width: auto;
	height: 14px;
	margin: 2px 10px 0 0;
	vertical-align: text-top
}

ul.menu_second > li:last-child {
	position: relative;
	float: right
}

ul.menu_second > li:last-child > a {
	padding: 0 32px;
	background-color: #08ACF0;
	color: #fff;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

ul.menu_second > li:last-child > a:hover {
	background-color: #08ACF0;
	text-decoration: none;
}

ul.menu_second > li:last-child:hover > ul.sub-menu {
	display: block
}

ul.menu_second li ul.sub-menu {
	min-width: 283px;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 50;
	top: 72px;
	right: 0;
	box-shadow: 0 2px 10px rgba(218, 217, 217, 0.64);
	background-color: #fff
}

ul.menu_second li ul.sub-menu li {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 75px;
	text-align: right
}

ul.menu_second li ul.sub-menu li a {
	padding-right: 32px;
	margin-left: 20px;
	border-bottom: 2px solid #dfecf4
}

ul.menu_second li ul.sub-menu li.menu-item-has-children > a {
	background: url(img/submenu-arrow.svg) 0 center no-repeat
}

ul.menu_second li ul.sub-menu li:last-child > a {
	border-bottom: none
}

ul.menu_second li ul.sub-menu li.menu-item-has-children:hover ul {
	display: block;
	top: 2px;
	right: 100%;
	z-index: 10
}

#index_panel_search {
	padding: 75px 60px;
	min-height: 100%;
	color: #444444;
	font-size: 16px;
	line-height: 24px
}

#index_panel_search h2 {
	margin: 0 0 6px
}

#index_panel_search .job_search_form {
	background: none !important;
	margin: 0 0 58px;
	padding: 0
}

#index_panel_search .job_types, #index_panel_search .showing_jobs, #index_panel_search .filter_by_tag, #index_panel_search .archive-job_listing-filter-title, #index_panel_search span.select {
	display: none
}

#index_panel_search .search_keywords, #index_panel_search .search_region, #index_panel_search .search_categories {
	width: 100%;
	display: block
}

#index_panel_search .search_jobs > div {
	margin: 0
}

#index_panel_search input, #index_panel_search .chosen-container-single .chosen-single {
	margin: 30px 0 0;
	height: 48px;
	border-radius: 4px;
	border: 2px solid #e2eff8;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #ffffff;
	color: #b6c7d2;
	font-size: 16px;
	font-weight: 400
}

#index_panel_search .chosen-container-single .chosen-search input[type=text] {
	margin: 0
}

#index_panel_search button {
	padding: 0;
	margin: 32px 0 0;
	line-height: 56px;
	border-radius: 4px;
	background-color: #f7ad39;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 100%;
	color: #ffffff;
	font-family: "Work Sans" !important;
	font-size: 20px;
	font-weight: 400;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease
}

#index_panel_search button:hover {
	background-color: #faa00c
}

#index_panel .carousel-control {
	top: 50%;
	margin-top: -25px;
	width: 62px;
	height: 50px;
	background-color: rgba(0, 0, 0, .24);
	opacity: 1;
	border-radius: 25px 0 0 25px
}

#index_panel .carousel-control svg {
	margin-top: 15px
}

#index_panel .carousel-control.left {
	border-radius: 0 25px 25px 0
}

#index_panel .carousel .item {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center
}

#index_panel .carousel .item:after {
	content: "";
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 70%;
	background-image: -webkit-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
	background-image: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
	background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
	opacity: 0.75
}

#index_panel .carousel .text {
	position: absolute;
	z-index: 20;
	left: 80px;
	right: 80px;
	bottom: 65px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px
}

#index_panel .carousel .text h2 {
	margin: 0 0 2px;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
	color: #fff
}

#index_panel .carousel .text span.fake-button {
	margin-top: 15px;
	padding: 0 24px;
	display: -moz-inline-stack;
	display: -webkit-inline-box;
	display: inline-block;
	line-height: 56px;
	border-radius: 4px;
	border: 2px solid #e2eff8;
	color: #ffffff;
	font-size: 20px;
	font-weight: 400
}

#best_schools {
	margin-bottom: 80px
}

#best_schools .carousel {
	margin: 0 -38px
}

#best_schools .low-carousel {
	padding: 0 38px;
	overflow: hidden
}

#best_schools .low-stage-outer {
	padding: 25px 0 48px;
	overflow: visible
}

#best_schools .low-nav div {
	position: absolute;
	top: 50%;
	margin-top: -42px;
	opacity: .2;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease
}

#best_schools .low-nav div:hover {
	opacity: 1
}

#best_schools .low-prev {
	left: 0
}

#best_schools .low-next {
	right: 0
}

#best_schools .low-carousel a {
	display: block;
	box-shadow: 0 16px 32px rgba(47, 116, 163, 0.1);
	background-color: #fff
}

#best_schools .low-carousel .image {
	height: 144px;
	-webkit-background-size: auto 180px;
	background-size: auto 180px;
	background-position: center top
}

#best_schools .low-carousel .text {
	padding: 26px 32px 30px;
	color: #444444;
	font-size: 19px;
	font-weight: 400;
	line-height: 32px;
	text-align: left
}

#popular_schools {
	margin-top: 30px
}

#popular_schools > a {
	float: left;
	width: calc(100%/3.2);
	height: 300px;
	/* margin-bottom: 33px; */
	padding: 0 13px;
	/* box-shadow: 0 16px 32px rgba(47, 116, 163, 0.1); */
	background-color: #ffffff;
	text-align: center;
	color: #444;
	margin: 10px;
	font-size: 14px;
	line-height: 24px;
	border-radius: 3px;
}

#popular_schools > a:hover {
	text-decoration: none
}

#popular_schools > a:hover .title {
	text-decoration: underline
}

#popular_schools > a:nth-child(3n+1) {
	clear: left
}

#popular_schools > a:nth-child(3n+2) {
	/* margin-left: 33px; */
	/* margin-right: 33px; */
}

#popular_schools .logo {
	position: relative;
	height: 132px
}

#popular_schools .logo img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	max-height: 90px
}

#popular_schools .title {
	color: #243552;
	font-size: 16px;
	font-weight: 800;
	line-height: 24px
}

#popular_schools .contact {
	margin-top: 18px;
	margin-bottom: 28px
}

#testimonials {
	margin-top: 30px
}

.testimonial {
	margin-bottom: 50px
}

.testimonial .text {
	padding: 40px 50px;
	margin-bottom: 40px;
	position: relative;
	box-shadow: 0 16px 32px rgba(47, 116, 163, 0.1);
	background-color: rgba(255, 255, 255, 0.6);
	color: #444;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px
}

.testimonial .text:after {
	content: "";
	display: block;
	position: absolute;
	left: 25px;
	bottom: -25px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 25px 0 25px;
	border-color: rgba(255, 255, 255, .75) transparent transparent transparent
}

.testimonial .author {
	padding: 0 65px 0 75px;
	font-size: 16px;
	line-height: 24px;
	color: #444
}

.testimonial .author a {
	color: #243552;
	font-weight: 800
}

#board {
	position: relative;
	margin: 24px -12px
}

#board img {
	width: 100%;
	height: auto
}

#board .text {
	position: absolute;
	top: 50%;
	left: 70px;
	right: 70px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: -10px;
	font-family: 'eraserregular' !important;
	font-size: 30px;
	line-height: 1.6;
	color: #fff
}

@media (max-width:1199px) {
	#popular_schools > a:nth-child(3n+2) {
		margin-left: 0;
		margin-right: 0
	}

	#popular_schools > a:nth-child(3n+1) {
		clear: none
	}

	#popular_schools > a {
		width: calc(50% - 24px)
	}

	#popular_schools > a:nth-child(2n) {
		margin-left: 32px
	}

	#popular_schools > a:nth-child(2n+1) {
		clear: left
	}

	#board .text {
		font-size: 22px
	}

	#footer_contact .item {
		margin-right: 28px
	}

	#footer_contact .icon {
		margin-right: 10px
	}

}

@media (min-width:992px) and (max-width:1279px) {
	ul.menu_second li {
		margin-left: 25px
	}

	ul.menu_second li a {
		font-size: 15px
	}

	ul.menu_second li a img {
		margin-right: 0
	}

	#index_panel_search .job_search_form {
		margin-bottom: 28px
	}

}

@media (min-width:992px) and (max-width:1180px) {
	ul.menu_second > li:last-child > a > span {
		display: none
	}

	ul.menu_second > li:last-child > a > img {
		padding: 0
	}

}

@media (min-width:992px) {
	#dl-menu {
		display: none
	}

	#index_panel .col-md-8 {
		width: 64.75%;
		height: 659px
	}

	#index_panel .col-md-4 {
		width: 35.25%;
		height: 659px
	}

	#index_panel .carousel .item {
		height: 659px
	}

	.dl-back, .dl-trigger {
		display: none
	}

	.content_posts_carousel a:hover .image {
		-webkit-transform: scale(1.8);
		-ms-transform: scale(1.8);
		-o-transform: scale(1.8);
		transform: scale(1.8);
		z-index: 20
	}

	body.single-guides #more_videos .active:hover {
		z-index: 20;
		-webkit-transform: scale(1.76);
		-ms-transform: scale(1.76);
		-o-transform: scale(1.76);
		transform: scale(1.76)
	}

	.content_posts_carousel a:hover .text {
		opacity: 0
	}

}

@media (max-width:991px) {
	.page-template-template-home2 h2 {
		text-align: center
	}

	.navbar-default .navbar-collapse {
		border: none;
		background: #fff;
		width: 100%
	}

	#header_nav {
		float: none;
		margin: 0;
		padding: 0 0 20px;
		text-align: center
	}

	#header_nav li {
		display: block;
		text-align: center;
		margin: 0
	}

	#header_nav li:nth-last-child(1), #header_nav li:nth-last-child(2) {
		margin-top: 20px;
		display: -moz-inline-stack;
		display: -webkit-inline-box;
		display: inline-block
	}

	.navbar-default .navbar-nav>li>a {
		font-size: 18px;
		line-height: 40px;
		color: #243552
	}

	#header_nav li.menu-item-has-children > a {
		display: none
	}

	#header_nav ul {
		display: block;
		margin: 10px -15px 0;
		white-space: nowrap;
		overflow: auto
	}

	#header_nav ul li {
		display: -moz-inline-stack;
		display: -webkit-inline-box;
		display: inline-block;
		width: 55px
	}

	#header_nav ul li a span {
		display: none
	}

	#header_nav li.menu-item-has-children {
		background: none
	}

	#header_nav li.menu-item-has-children ul li a {
		padding: 0
	}

	#header_nav li.menu-item-has-children ul li a img {
		margin: 0;
		width: 32px;
		height: 32px
	}

	body > footer, body > #content > footer {
		margin-top: 55px;
		margin-bottom: 55px
	}

	#footer_content {
		text-align: center
	}

	#footer_contact .item {
		margin: 0 15px
	}

	#footer_contact .icon {
		display: block;
		margin: 0 auto 10px
	}

	#footer_register img {
		width: 80%
	}

	.footer_social li {
		padding: 0 5px
	}

	#best_schools .carousel {
		margin: 0
	}

	.pl55, .nopl {
		padding-left: 15px
	}

	.nopr {
		padding-right: 15px
	}

	#best_schools {
		margin-bottom: 30px;
		text-align: center
	}

	#dl-menu {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		max-width: none
	}

	#dl-menu .dl-trigger {
		padding: 0;
		display: block;
		width: 100%;
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		font-size: 16px;
		font-weight: 700;
		line-height: 56px
	}

	#index_panel {
		margin: 0 0 30px
	}

	#index_panel .carousel {
		margin: 0 -15px
	}

	#index_panel_search {
		margin: 0 -15px;
		text-align: center;
		clear: both
	}

	#index_panel_search .job_search_form {
		margin: 0
	}

	.page-template-template-home2 [data-toggle=".job_filters"] {
		display: none
	}

	#myCarousel {
		height: 500px
	}

}

@media (max-width:767px) {
	.page-template-template-home2 h2 {
		font-size: 24px;
		line-height: 32px
	}

	.btn {
		font-size: 16px
	}

	#logo {
		margin: 24px 0 0 24px
	}

	#logo svg {
		width: 182px;
		height: 26px
	}

	#popular_schools > a {
		width: 100%;
		margin-left: 0 !important;
		margin-right: 0 !important
	}

	#board .text {
		left: 30px;
		right: 30px;
		font-size: 15px
	}

	#copyrights {
		font-size: 13px;
		text-align: center;
		line-height: 1;
		padding-top: 40px
	}

	.footer_social {
		text-align: justify
	}

	.footer_social:after {
		content: "";
		display: inline-block;
		width: 100%;
		height: 0
	}

	.footer_social li {
		padding: 0
	}

	.footer_social li a {
		display: block;
		max-width: 90%
	}

	#footer_content .footer1 {
		text-align: center
	}

	#footer_contact {
		font-size: 18px;
		text-align: left
	}

	#footer_contact .item {
		margin-right: 0;
		margin-bottom: 10px
	}

	#footer_contact .item:last-child {
		margin-bottom: 0
	}

	#footer_contact .icon {
		display: -moz-inline-stack;
		display: -webkit-inline-box;
		display: inline-block;
		margin-right: 12px
	}

	#footer_register {
		padding: 18px 0 110px;
		font-size: 24px;
		text-align: center
	}

	#footer_register img {
		bottom: -110px
	}

	#footer_register .widget a {
		margin-top: 20px
	}

	.testimonial .text {
		padding: 28px 22px
	}

	.testimonial .author {
		padding: 0 2px
	}

	#best_schools {
		text-align: center;
		margin-bottom: 25px
	}

	#best_schools .low-carousel .text {
		font-size: 16px;
		line-height: 24px
	}

	#index_panel {
		margin-top: 0;
		margin-bottom: 30px
	}

	#index_panel .col-md-8 {
		width: 100%
	}

	#index_panel .carousel {
		height: 360px
	}

	#index_panel .carousel .text {
		left: 35px;
		right: 35px;
		bottom: 0;
		text-align: center
	}

	#index_panel .carousel .text h2 {
		font-size: 30px;
		line-height: 40px
	}

	#index_panel .carousel .text p > a:only-child {
		font-size: 16px;
		line-height: 48px
	}

	#index_panel .carousel-control {
		top: auto;
		bottom: 10px;
		width: 50px
	}

}

body.scrolled {
	padding-top: 152px
}

body.scrolled > header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%)
}

body.scrolled ul.menu_second {
	position: fixed;
	top: 80px;
	left: 0;
	right: 0;
	z-index: 99;
	-webkit-transform: translateY(-220%);
	-ms-transform: translateY(-220%);
	-o-transform: translateY(-220%);
	transform: translateY(-220%)
}

body.fixed-map .job_listings-map-wrapper, body.fixed-map .job_listings-map {
	top: 0;
	height: 100vh !important
}

.job_types input[type=checkbox] {
	line-height: 4px !important
}

#most_popular_schools h2:after {
	content: url(img/badge.svg);
	margin: -12px 0 0 15px;
	vertical-align: bottom;
	position: absolute
}

#most_popular_schools .row {
	margin-left: -25px;
	margin-right: -25px
}

#most_popular_schools .row [class^="col-"] {
	padding-left: 25px;
	padding-right: 25px
}

#most_popular_schools a {
	display: block;
	margin: 0 0 50px;
	background-color: #fff;
	-webkit-box-shadow: 0 16px 32px 0 rgba(47, 116, 163, 0.1);
	box-shadow: 0 16px 32px 0 rgba(47, 116, 163, 0.1);
	font-size: 16px;
	line-height: 1.5;
	color: #243552
}

#most_popular_schools a .mbYTP_wrapper {
	opacity: 0;
	-webkit-transition: opacity 300ms ease !important;
	-moz-transition: opacity 300ms ease !important;
	-o-transition: opacity 300ms ease !important;
	transition: opacity 300ms ease !important
}

#most_popular_schools a:hover .mbYTP_wrapper {
	opacity: 1 !important
}

#most_popular_schools a:hover {
	text-decoration: none
}

#most_popular_schools .image {
	position: relative;
	height: 220px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center
}

#most_popular_schools .image .loader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center
}

#most_popular_schools .image .loader svg {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	-o-transform-origin: center;
	transform-origin: center;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	-webkit-animation-name: rotating;
	animation-name: rotating;
	-webkit-animation-duration: 1.6s;
	animation-duration: 1.6s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear
}

#most_popular_schools a:hover .image .loader svg {
	opacity: 1
}

@-webkit-keyframes rotating {
	from {
		-webkit-transform: translateY(-50%) translateX(-50%) rotate(0deg);
		transform: translateY(-50%) translateX(-50%) rotate(0deg)
	}

	to {
		-webkit-transform: translateY(-50%) translateX(-50%) rotate(360deg);
		transform: translateY(-50%) translateX(-50%) rotate(360deg)
	}

}

@keyframes rotating {
	from {
		-webkit-transform: translateY(-50%) translateX(-50%) rotate(0deg);
		transform: translateY(-50%) translateX(-50%) rotate(0deg)
	}

	to {
		-webkit-transform: translateY(-50%) translateX(-50%) rotate(360deg);
		transform: translateY(-50%) translateX(-50%) rotate(360deg)
	}

}

#most_popular_schools .col-md-3 .image {
	height: 128px
}

#most_popular_schools .text {
	padding: 24px
}

#most_popular_schools h3 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.3;
	color: #243552
}

#most_popular_schools .link {
	display: block;
	margin-top: 15px;
	color: #6eceed;
	text-decoration: underline;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease
}

#most_popular_schools a:hover .link {
	color: #3F90AA
}

#most_popular_schools .col-md-3 .link {
	margin-top: 4px
}

#hero {
	position: relative;
	border-bottom: 4px solid #fff
}

#hero .background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	overflow: hidden
}

#hero .content {
	position: relative;
	padding: 190px 0 290px;
	z-index: 20;
	background: rgba(26, 32, 73, .32)
}

#hero .tagline {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.63;
	letter-spacing: 0.6px;
	text-transform: uppercase
}

#hero h1 {
	margin: 0 0 32px;
	font-size: 56px;
	font-weight: bold;
	line-height: 1.14;
	color: #fff
}

.mbYTP_wrapper iframe {
	margin: 0 !important;
	top: 50% !important;
	left: 50% !important;
	-webkit-transform: translateY(-50%) translateX(-50%) !important;
	-ms-transform: translateY(-50%) translateX(-50%) !important;
	-o-transform: translateY(-50%) translateX(-50%) !important;
	transform: translateY(-50%) translateX(-50%) !important
}

body.single-guides #page-content {
	position: relative;
	z-index: 30;
	margin-top: -170px;
	padding: 14px 40px 40px;
	background: #fff
}

body.single-guides #page-content #boxes {
	margin-left: -25px;
	margin-right: -25px
}

.custom-link {
	position: relative;
	display: block;
	margin: 0 -15px;
	padding: 37px 15px;
	text-align: center;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee
}

.custom-link:hover {
	text-decoration: none
}

.custom-link:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	height: 1px;
	background-color: #6eceed;
	opacity: 0;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease
}

.custom-link:hover:after {
	height: 4px;
	opacity: 1
}

div:nth-child(4n) > .custom-link {
	border-right: none
}

.custom-link .icon {
	position: relative;
	height: 45px;
	margin-bottom: 6px
}

.custom-link .icon img {
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	max-height: 45px;
	width: auto;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	-o-transform-origin: center;
	transform-origin: center;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease
}

.custom-link:hover .icon img {
	-webkit-transform: translateX(-50%) translateY(-10px);
	-ms-transform: translateX(-50%) translateY(-10px);
	-o-transform: translateX(-50%) translateY(-10px);
	transform: translateX(-50%) translateY(-10px)
}

.custom-link h3 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.63;
	color: #243552
}

body.single-guides h2 {
	margin: 120px 0 25px;
	padding: 0;
	font-size: 32px;
	font-weight: bold;
	line-height: 1;
	color: #243552
}

.content_schools a .text {
	display: table;
	width: 100%;
	margin-top: 16px;
	font-size: 16px;
	line-height: 1.5;
	color: #243552
}

.content_schools a .text > div {
	display: table-cell;
	vertical-align: middle
}

.content_schools a .text img {
	width: 48px;
	min-width: 48px;
	margin-right: 6px
}

.content_posts_carousel .low-carousel .low-stage-outer {
	padding-top: 62px
}

.content_posts_carousel a .text {
	margin-top: 16px;
	font-size: 14px;
	line-height: 1.57;
	color: #444;
	display: block;
	display: -webkit-box;
	height: calc(14px * 1.57 * 2);
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-transition: opcaity 300ms ease;
	-moz-transition: opcaity 300ms ease;
	-o-transition: opcaity 300ms ease;
	transition: opcaity 300ms ease
}

.content_posts_carousel a .image {
	position: relative;
	z-index: 10;
	background: #fff;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-ms-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center
}

.content_posts_carousel .active + .active > a .image {
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	-o-transform-origin: center;
	transform-origin: center
}

.content_posts_carousel .active + .last > a .image {
	-webkit-transform-origin: right center;
	-moz-transform-origin: right center;
	-ms-transform-origin: right center;
	-o-transform-origin: right center;
	transform-origin: right center
}

.content_schools a .image, .content_posts_carousel a .image {
	position: relative;
	height: 150px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center
}

.content_posts_carousel a .image {
	height: 156px
}

.content_posts_carousel a .image div {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 13px;
	font-size: 8.89px;
	font-weight: bold;
	line-height: 1.38;
	color: #fff;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
	text-decoration: none;
	-webkit-transition: opacity 300ms ease;
	-moz-transition: opacity 300ms ease;
	-o-transition: opacity 300ms ease;
	transition: opacity 300ms ease;
	opacity: 0
}

.content_posts_carousel a:hover .image div {
	opacity: 1
}

.content_posts_carousel .carousel {
	margin-top: -54px
}

body.single-guides .low-carousel .low-prev, body.page-template-template-landing-page .low-carousel .low-prev, body.single-guides .low-carousel .low-next, body.page-template-template-landing-page .low-carousel .low-next {
	position: absolute;
	top: 62px;
	right: -24px
}

body.single-guides .low-carousel .low-prev, body.page-template-template-landing-page .low-carousel .low-prev {
	right: auto;
	left: -24px
}

body.single-guides .low-carousel .low-prev svg, body.page-template-template-landing-page .low-carousel .low-prev svg, body.single-guides .low-carousel .low-next svg, body.page-template-template-landing-page .low-carousel .low-next svg {
	width: 8px;
	height: 20px
}

body.single-guides .content_posts_carousel .low-carousel .low-prev, body.page-template-template-landing-page .content_posts_carousel .low-carousel .low-prev, body.single-guides .content_posts_carousel .low-carousel .low-next, body.page-template-template-landing-page .content_posts_carousel .low-carousel .low-next {
	top: 124px
}

body.single-guides .content_posts_list h2 {
	margin-bottom: 10px
}

.content_posts_list a[data-img] {
	display: block;
	margin-bottom: 8px;
	padding: 16px 20px 16px 52px;
	border-radius: 2px;
	background: url(img/ico-cloud.svg) 20px 23px no-repeat
}

.content_posts_list a[data-img]:hover {
	text-decoration: none;
	background-color: #fafafa;
	background-image: url(img/ico-cloud-orange.svg)
}

.content_posts_list .article_title {
	display: block;
	display: -webkit-box;
	font-size: 16px;
	line-height: 1.5;
	-webkit-line-clamp: 2;
	color: #243552;
	height: 48px;
	height: calc(16px * 1.5 * 2);
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis
}

.content_posts_list a:hover .article_title {
	color: #6eceed;
	text-decoration: underline
}

.content_posts_list .article_date {
	display: block;
	text-transform: uppercase;
	opacity: 0.48;
	font-size: 14px;
	line-height: 1.71;
	color: #243552
}

.content_posts_list a:hover .article_date {
	color: #243552;
	text-decoration: none
}

.content_posts_list a.btn {
	margin-top: 20px;
	margin-left: 52px
}

body.single-guides #article_image, body.page-template-template-custom-template #article_image {
	margin-top: 30px;
	height: 260px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center
}

body.single-guides #testimonials {
	margin-bottom: -38px;
	background: url(img/img-testimonials.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover
}

body.single-guides #testimonials .item {
	height: 428px;
	padding: 138px 0
}

body.single-guides #testimonials .item > .row {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}

body.single-guides #testimonials .comment {
	display: block;
	position: relative;
	font-size: 26px;
	line-height: 1.38;
	color: #ffffff
}

body.single-guides #testimonials .comment:hover {
	text-decoration: none
}

body.single-guides #testimonials .comment:before {
	content: url(img/quote.svg);
	position: absolute;
	top: -38px;
	left: 50%;
	margin-left: -46px;
	opacity: .16
}

body.single-guides #testimonials .comment .author {
	margin-top: 24px;
	font-size: 16px;
	line-height: 1.38
}

body.single-guides .testimonials_controls {
	position: absolute;
	bottom: 78px;
	left: 50%
}

body.single-guides .testimonials_controls.left {
	margin-left: -36px
}

body.single-guides .testimonials_controls.left img {
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	-o-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg)
}

body.single-guides .testimonials_controls.right {
	margin-left: 36px
}

body.single-guides #more_videos h3 {
	margin: 45px 0 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	color: #243552
}

body.single-guides #more_videos .low-carousel {
	-webkit-transform: translateY(-42px);
	-ms-transform: translateY(-42px);
	-o-transform: translateY(-42px);
	transform: translateY(-42px);
	margin-bottom: -100px
}

body.single-guides #more_videos .low-stage-outer {
	padding: 58px 0
}

body.single-guides #more_videos .low-carousel .low-prev, body.single-guides #more_videos .low-carousel .low-next {
	top: 120px
}

body.single-guides #more_videos .active {
	position: relative;
	z-index: 10;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-ms-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease
}

body.single-guides #more_videos .active + .active {
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	-o-transform-origin: center;
	transform-origin: center
}

body.single-guides #more_videos .active + .last {
	-webkit-transform-origin: right center;
	-moz-transform-origin: right center;
	-ms-transform-origin: right center;
	-o-transform-origin: right center;
	transform-origin: right center
}

body.single-guides #more_videos a {
	display: block;
	position: relative;
	height: 150px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center
}

body.single-guides #more_videos a:before, body.single-guides #more_videos a:after {
	content: "";
	width: 40px;
	height: 27px;
	border-radius: 2px;
	background: url(img/ico-video.svg) center center no-repeat;
	background-color: rgba(0, 0, 0, 0.24);
	position: absolute;
	bottom: 16px;
	right: 16px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease
}

body.single-guides #more_videos a:hover:after {
	opacity: 0
}

body.single-guides #more_videos a:before {
	background-color: transparent;
	right: 50%;
	bottom: 50%;
	margin: 0 -20px -13px 0;
	opacity: 0
}

body.single-guides #more_videos a:hover:before {
	opacity: 1
}

body.single-guides #more_videos a .text {
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 6px;
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .65) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .65) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: linear-gradient(to top, rgba(0, 0, 0, .65) 0%, rgba(0, 0, 0, 0) 100%);
	font-size: 8px;
	color: #fff;
	line-height: 24px;
	-webkit-transition: opacity 300ms ease;
	-moz-transition: opacity 300ms ease;
	-o-transition: opacity 300ms ease;
	transition: opacity 300ms ease
}

body.single-guides #more_videos a:hover .text {
	opacity: 1
}

body.single-guides #more_videos a .text > div {
	display: -moz-inline-stack;
	display: -webkit-inline-box;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis
}

body.single-guides #more_videos a .text > div:first-child {
	width: 24px
}

body.single-guides #more_videos a .text > div:last-child {
	width: calc(100% - 30px)
}

body.single-guides #more_videos a:hover .text img {
	margin-right: 5px;
	width: 19px;
	min-width: 19px;
	height: auto
}

#videos .text, #videos .video {
	display: -moz-inline-stack;
	display: -webkit-inline-box;
	display: inline-block;
	vertical-align: top
}

#videos .video {
	position: relative;
	width: 254px;
	height: 140px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center
}

#videos .video:before {
	content: "";
	width: 24px;
	height: 22px;
	background: url(img/ico-video.svg) center center no-repeat;
	-webkit-background-size: 24px 22px;
	background-size: 24px 22px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -11px 0 0 -12px;
	opacity: 0;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease
}

#videos a:hover .video:before {
	opacity: 1
}

#videos .video:after {
	content: "";
	width: 40px;
	height: 27px;
	border-radius: 2px;
	background: url(img/ico-video.svg) center center no-repeat;
	background-color: rgba(0, 0, 0, 0.24);
	position: absolute;
	bottom: 24px;
	right: 24px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease
}

#videos a:hover .video:after {
	opacity: 0
}

#videos .text {
	position: relative;
	width: calc(100% - 254px);
	height: 140px;
	background-color: rgba(231, 247, 253, 0.65);
	font-size: 16px;
	font-weight: bold;
	line-height: 1.63;
	color: #243552
}

#videos .text > div {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	padding: 16px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%)
}

#videos .school {
	margin-top: 8px;
	font-size: 12px;
	font-weight: normal;
	line-height: 32px;
	color: #243552
}

#videos .school > div {
	display: -moz-inline-stack;
	display: -webkit-inline-box;
	display: inline-block;
	vertical-align: middle
}

#videos .school > div:first-child {
	width: 40px
}

#videos .school > div:last-child {
	width: calc(100% - 40px);
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis
}

#videos .school img {
	width: 32px;
	height: auto;
	margin-right: 8px
}

#videos a:hover span {
	text-decoration: underline
}

body.page-template-template-landing-page .select, body.single-guides .select {
	display: block
}

body.page-template-template-landing-page .select:after, body.single-guides .select:after {
	line-height: 52px
}

body.page-template-template-landing-page .select select, body.single-guides .select select {
	width: 100%
}

body.page-template-template-landing-page .form-control, body.single-guides .form-control {
	padding: 0 16px;
	margin-bottom: 32px;
	height: 48px;
	line-height: 44px;
	border-radius: 4px;
	background-color: #ffffff;
	border: solid 2px #e2eff8;
	font-size: 16px;
	color: #243552;
	-webkit-box-shadow: none;
	box-shadow: none
}

body.page-template-template-landing-page select.form-control, body.single-guides select.form-control {
	margin-bottom: 40px
}

body.page-template-template-landing-page textarea.form-control, body.single-guides textarea.form-control {
	height: 216px
}

#guides_contact {
	padding-left: 40px;
	padding-right: 40px
}

#guides_contact p {
	font-size: 16px;
	line-height: 1.5;
	color: #243552
}

body.single-guides #guides_contact h2 {
	margin: 80px 0 16px
}

#guid_form {
	margin-top: 16px
}

#guid_form .btn {
	margin-top: -10px;
	font-size: 20px
}

#guid_form input.error {
	border-color: #db0000
}

#guid_form span.error {
	position: absolute;
	opacity: 0;
	-webkit-transform: translateY(-104px);
	-ms-transform: translateY(-104px);
	-o-transform: translateY(-104px);
	transform: translateY(-104px);
	padding: 0 7px;
	font-size: 12px;
	line-height: 2;
	color: #db0000
}

#guid_form input.error + span.error {
	opacity: 1
}

.ui-datepicker table, .ui-datepicker td, .ui-datepicker th {
	border: none;
	margin: 0
}

.ui-datepicker {
	background-color: #fff;
	border: none;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
	display: none;
	margin-top: 4px;
	padding: 10px;
	width: 240px
}

.ui-datepicker a, .ui-datepicker a:hover {
	text-decoration: none
}

.ui-datepicker a:hover, .ui-datepicker td:hover a {
	color: #2A6496;
	-webkit-transition: color 0.1s ease-in-out;
	-moz-transition: color 0.1s ease-in-out;
	-o-transition: color 0.1s ease-in-out;
	transition: color 0.1s ease-in-out
}

.ui-datepicker .ui-datepicker-header {
	margin-bottom: 4px;
	text-align: center
}

.ui-datepicker .ui-datepicker-title {
	font-weight: 700
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	cursor: default;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	margin-top: 2px;
	width: 30px
}

.ui-datepicker .ui-datepicker-prev {
	float: left;
	text-align: left
}

.ui-datepicker .ui-datepicker-next {
	float: right;
	text-align: right
}

.ui-datepicker .ui-datepicker-prev:before {
	content: "\e079"
}

.ui-datepicker .ui-datepicker-next:before {
	content: "\e080"
}

.ui-datepicker .ui-icon {
	display: none
}

.ui-datepicker .ui-datepicker-calendar {
	table-layout: fixed;
	width: 100%
}

.ui-datepicker .ui-datepicker-calendar th, .ui-datepicker .ui-datepicker-calendar td {
	text-align: center;
	padding: 4px 0
}

.ui-datepicker .ui-datepicker-calendar td {
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	-moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	-o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out
}

.ui-datepicker .ui-datepicker-calendar td:hover {
	background-color: #eee;
	cursor: pointer
}

.ui-datepicker .ui-datepicker-calendar td a {
	text-decoration: none
}

.ui-datepicker .ui-datepicker-today a {
	font-weight: bold
}

.ui-datepicker .ui-datepicker-current-day {
	background-color: #4289cc
}

.ui-datepicker .ui-datepicker-current-day a {
	color: #fff
}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
	background-color: #fff;
	cursor: default
}

#lightboxModal .modal-body {
	height: auto;
	padding-bottom: 15px !important
}

#lightboxModal .video-container, #lightboxModal .video-container iframe {
	margin: 0
}

@media (max-width:991px) {
	body.single-guides #page-content #boxes {
		margin-left: 0;
		margin-right: 0
	}

	.custom-link {
		padding-left: 20px;
		padding-right: 20px
	}

	#hero h1 {
		font-size: 48px;
		padding: 0 40px
	}

	#videos .text, #videos .video {
		display: block;
		width: auto
	}

	body.single-guides h2 {
		margin-top: 80px
	}

	.carousel-xs-right {
		margin-right: -15px
	}

	body.single-guides #guides_contact h2 {
		margin-top: 50px
	}

	body.single-guides #testimonials .item {
		height: 390px;
		padding: 90px 0
	}

	body.single-guides #testimonials .comment {
		font-size: 24px
	}

	body.single-guides .testimonials_controls {
		bottom: 50px
	}

}

@media (max-width:767px) {
	.btn {
		line-height: 50px;
		padding: 0 22px
	}

	#hero .content {
		padding: 80px 0 50px
	}

	#hero h1 {
		padding: 0;
		font-size: 24px
	}

	body.single-guides #page-content {
		margin-top: 0
	}

	div:nth-child(2n) > .custom-link {
		border-right: none
	}

	.custom-link {
		padding-top: 20px;
		padding-bottom: 15px
	}

	.custom-link .icon {
		margin-bottom: 16px
	}

	.custom-link h3 {
		font-size: 14px;
		line-height: 1.29;
		display: block;
		display: -webkit-box;
		height: calc(14px * 1.29 * 2);
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis
	}

	body.single-guides h2 {
		margin-top: 40px;
		font-size: 24px;
		line-height: 1.33
	}

	body.single-guides select.form-control {
		margin-bottom: 32px
	}

	#guid_form {
		margin-top: 26px
	}

	#guid_form .btn {
		width: 100%;
		margin: 0
	}

	body.single-guides #more_videos h3 {
		margin-top: 20px
	}

	body.single-guides #testimonials {
		margin-bottom: 0;
		margin-left: -15px;
		margin-right: -15px
	}

	body.single-guides #testimonials .item {
		height: 460px;
		padding: 80px 20px 130px
	}

	body.single-guides #testimonials .comment {
		font-size: 20px;
		line-height: 1.4
	}

	body.single-guides #testimonials {
		font-size: 13px
	}

	#articlesSlider .item {
		text-align: center
	}

	#articlesSlider .item div {
		margin-top: 16px;
		padding: 0 35px;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.38;
		color: #243552;
		display: block;
		display: -webkit-box;
		height: calc(16px * 1.38 * 2);
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis
	}

	#articlesSlider > .left, #articlesSlider > .right {
		display: block;
		padding: 0 20px;
		position: absolute;
		bottom: 8px;
		right: -15px
	}

	#articlesSlider > .left {
		right: auto;
		left: -15px
	}

	#articlesSlider > .left img {
		-webkit-transform-origin: center;
		-moz-transform-origin: center;
		-ms-transform-origin: center;
		-o-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg)
	}

}

body.page-template-template-landing-page #hero {
	border: none
}

body.page-template-template-landing-page #hero .content {
	padding: 270px 0;
	color: #fff
}

body.page-template-template-landing-page #hero .btn {
	margin-top: 20px
}

.table-like {
	margin: 0;
	display: table;
	width: 100%
}

.table-like:before, .table-like:after {
	display: none
}

.table-like > div {
	float: none;
	display: table-cell;
	vertical-align: middle
}

#components {
	overflow: hidden;
	clear: both;
	background: #fff
}

.component {
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	font-size: 18px;
	line-height: 1.78;
	color: #243552
}

.component h2 {
	margin: 0 0 24px;
	padding: 0;
	font-size: 32px;
	font-weight: bold;
	line-height: 1.5
}

.component .btn {
	margin-top: 30px;
	padding: 0 25px;
	border: none
}

.component .btn.btn-orange {
	background-color: #f17334
}

.component p a:not(.btn) {
	color: inherit;
	text-decoration: underline
}

.component h2:last-child, .component p:last-child {
	margin-bottom: 0
}

.component-content_box .image {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center
}

.component-content_box .text {
	padding-left: 32px;
	padding-right: 32px
}

.component-icons .icon {
	width: 88px
}

.component-icons .text {
	font-weight: bold;
	line-height: 1.56
}

.component-icons a {
	color: #243552
}

.component-videos .carousel > a {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	left: -32px
}

.component-videos .carousel > a.right {
	left: auto;
	right: -32px
}

.component-videos .carousel > a svg {
	width: 10px;
	height: 20px
}

.carousel_video {
	position: relative;
	display: block;
	height: 378px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center
}

.carousel_video div {
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 160px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.39)));
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.39));
	font-weight: bold;
	line-height: 1.56;
	color: #fff;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease
}

.carousel_video:hover div {
	opacity: 1
}

.carousel_video div:after {
	content: "";
	width: 20px;
	height: 19px;
	background: url(img/ico-video.svg) center center no-repeat;
	-webkit-background-size: 20px 19px;
	background-size: 20px 19px;
	position: absolute;
	bottom: 28px;
	right: 32px;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	opacity: 0;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease
}

.carousel_video:hover div:after {
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	-o-transform: translateX(0%);
	transform: translateX(0%);
	opacity: 1
}

.carousel_video div span {
	position: absolute;
	bottom: 28px;
	left: 32px;
	right: 72px
}

.row:first-child > div > .carousel_video {
	margin-bottom: 30px
}

.timeline {
	position: relative
}

.timeline:before {
	content: "";
	position: absolute;
	top: 0;
	left: 9px;
	bottom: 0;
	width: 1px;
	background-color: #d6e1e6
}

.timeline-item {
	margin-left: 40px;
	margin-bottom: 38px;
	padding-bottom: 40px;
	border-bottom: 1px solid #d6e1e6;
	color: #717891
}

.timeline-item:first-child {
	padding-top: 8px
}

.timeline-item:last-child {
	margin-bottom: 0;
	border-bottom: none
}

.timeline-item .tagline {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.86;
	letter-spacing: 0.5px;
	color: #6eceed;
	text-transform: uppercase
}

.timeline-item .headline {
	position: relative;
	font-weight: bold;
	color: #243552
}

.timeline-item .headline:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -38px;
	margin-top: -7px;
	width: 15px;
	height: 15px;
	background-color: #6eceed;
	border-radius: 50%
}

.timeline-item .headline:after {
	content: "";
	position: absolute;
	top: 50%;
	left: -31px;
	background: transparent;
	border-radius: 50%;
	display: inline-block;
	width: 50px;
	height: 50px;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.timeline-item:hover .headline:after {
	-webkit-animation-delay: 0s, 1.6s;
	animation-delay: 0s, 1.6s;
	-webkit-animation-duration: 0.8s, 1.6s;
	animation-duration: 0.8s, 1.6s;
	-webkit-animation-iteration-count: 1, 0;
	animation-iteration-count: 1, 0;
	-webkit-animation-name: spread, spread-iteration;
	animation-name: spread, spread-iteration;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out
}

@-webkit-keyframes spread {
	from {
		background: #6eceed;
		width: 0;
		height: 0
	}

}

@keyframes spread {
	from {
		background: #6eceed;
		width: 0;
		height: 0
	}

}

@-webkit-keyframes spread-iteration {
	0% {
		background: #6eceed;
		width: 0;
		height: 0
	}

	50%, 100% {
		background: transparent;
		width: 50px;
		height: 50px
	}

}

@keyframes spread-iteration {
	0% {
		background: #6eceed;
		width: 0;
		height: 0
	}

	50%, 100% {
		background: transparent;
		width: 50px;
		height: 50px
	}

}

.timeline-item .description {
	position: relative;
	padding-right: 18%
}

.timeline-item a[data-shown][data-hidden] {
	position: absolute;
	top: 0;
	right: 0;
	color: #6eceed;
	text-decoration: underline
}

.timeline-item .excerpt {
	position: relative;
	white-space: nowrap;
	overflow: hidden
}

.timeline-item .excerpt:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0%;
	right: 0;
	bottom: 0;
	background: -moz-linear-gradient(left, rgba(247, 253, 255, 0) 0%, rgba(247, 253, 255, 0) 1%, rgba(247, 253, 255, 1) 100%);
	background: -webkit-linear-gradient(left, rgba(247, 253, 255, 0) 0%, rgba(247, 253, 255, 0) 1%, rgba(247, 253, 255, 1) 100%);
	background: linear-gradient(to right, rgba(247, 253, 255, 0) 0%, rgba(247, 253, 255, 0) 1%, rgba(247, 253, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f7fdff', endColorstr='#f7fdff', GradientType=1);
	-webkit-transition: left 300ms ease;
	-moz-transition: left 300ms ease;
	-o-transition: left 300ms ease;
	transition: left 300ms ease
}

.timeline-item:hover .excerpt:after {
	left: 68%
}

.timeline-item .excerpt.shown:after {
	left: 100%
}

.component-quotes .carousel .item {
	height: 430px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center
}

.component-quotes .carousel .item .content {
	position: absolute;
	top: 50%;
	left: 7.5%;
	right: 7.5%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	line-height: 1.38;
	color: #fff
}

.component-quotes .carousel .item .content:before {
	content: "";
	width: 37px;
	height: 30px;
	background: url(img/quote.svg) 0 0 no-repeat;
	-webkit-background-size: 37px 30px;
	background-size: 37px 30px;
	position: absolute;
	top: -10px;
	left: -15px;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%)
}

.component-quotes .carousel .item .content .text {
	margin-bottom: 24px;
	font-size: 26px
}

.component-quotes .carousel .item .content .author {
	font-size: 16px
}

.component-quotes .carousel > a {
	position: absolute;
	top: -58px;
	right: 0;
	line-height: 1;
	font-size: 0;
	opacity: .5;
	-webkit-transition: opacity 300ms ease;
	-moz-transition: opacity 300ms ease;
	-o-transition: opacity 300ms ease;
	transition: opacity 300ms ease
}

.component-quotes .carousel > a.left {
	right: 50px
}

.component-quotes .carousel > a:hover {
	opacity: 1
}

body.page-template-template-landing-page .wpcf7-response-output.wpcf7-validation-errors, body.page-template-template-landing-page .wpcf7-not-valid-tip {
	display: none !important
}

body.page-template-template-landing-page .form-control.wpcf7-not-valid {
	background: #fff url(img/invalid.svg) right 15px center no-repeat;
	border-color: #db0101
}

body.page-template-template-landing-page .wpcf7-response-output.wpcf7-mail-sent-ok {
	margin: 0 1px 30px;
	padding: 12px 16px;
	line-height: 1.1;
	border-radius: 4px;
	border: none;
	background-color: #80d09a;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	color: #ffffff
}

@media (min-width:1366px) {
	body.page-template-template-landing-page #lightboxModal .modal-dialog {
		width: 1180px
	}

}

@media (min-width:1000px) {
	body.page-template-template-landing-page #lightboxModal .modal-dialog {
		width: 950px
	}

}

@media (max-width:991px) {
	.component-videos .carousel > a {
		position: absolute;
		top: 50%;
		margin-top: -10px;
		left: 0
	}

	.component-videos .carousel > a.right {
		left: auto;
		right: 0
	}

}

@media (max-width:767px) {
	body.page-template-template-landing-page #hero .content {
		padding: 120px 0 80px
	}

	#hero .tagline {
		font-size: 14px;
		margin-bottom: 16px
	}

	.component {
		font-size: 14px
	}

	.component h2 {
		font-size: 24px
	}

	.component p br, .component h2 br {
		display: none
	}

	.component-quotes .carousel .item .content .text {
		font-size: 20px
	}

	.component-quotes .carousel .item .content .author {
		font-size: 12px
	}

	.component-content_box .table-like > div {
		display: block
	}

	.component-content_box .image {
		height: 200px
	}

	.carousel_video {
		height: 120px
	}

	.component-videos .carousel {
		padding-bottom: 40px
	}

	.component-videos .carousel > a {
		top: auto;
		bottom: 0
	}

	.carousel_video div {
		height: auto;
		top: 0
	}

	.carousel_video div span {
		position: absolute;
		top: 50%;
		bottom: auto;
		left: 10px;
		right: 10px;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		text-align: center
	}

	.carousel_video:hover div:after {
		display: none
	}

	.component-quotes .carousel > a {
		display: none
	}

	.content_posts_carousel a:hover .image div {
		opacity: 0
	}

	.modal.centred.in .modal-dialog {
		width: 95%
	}

}

#new_school_profile {
	background: #fff
}

#school_carousel .item {
	height: 600px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center
}

#new_school_reviews .carousel-control, #school_carousel .carousel-control {
	width: auto;
	top: 50%;
	margin-top: -26px;
	left: 80px;
	bottom: auto;
	background: none;
	opacity: 1
}

#new_school_reviews .carousel-control.left img, #school_carousel .carousel-control.left img {
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

#new_school_reviews .carousel-control.right, #school_carousel .carousel-control.right {
	left: auto;
	right: 80px
}

#new_school_profile h1 {
	margin: -80px -22px 0;
	padding: 32px 22px;
	overflow: hidden;
	background: #fff;
	font-size: 32px;
	font-weight: bold;
	line-height: 1.5
}

#new_school_profile h1 img {
	float: left;
	margin-right: 10px
}

#new_school_features {
	overflow: hidden;
	margin-bottom: 102px;
	padding-left: 140px;
	font-size: 16px;
	line-height: 1.5;
	color: #717891
}

#new_school_features img {
	margin-right: 14px
}

#new_school_features > div {
	float: left
}

#new_school_features > div + div {
	margin-left: 40px
}

#new_school_video {
	position: relative;
	display: block;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center
}

#new_school_video:before {
	content: "";
	display: block;
	padding-top: 56.16%
}

#new_school_video:after {
	content: url(img/ico-play-big.svg);
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%)
}

#new_school_info {
	border-spacing: 0;
	border-collapse: collapse;
	margin: 0 0 100px;
	border: solid 1px #e2f1f7;
	border-top: none
}

#new_school_info th {
	border: none;
	padding: 18px 46px 18px 16px;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.71;
	color: #717891;
	white-space: nowrap
}

#new_school_info td {
	border: none;
	padding: 18px 16px;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.75;
	color: #000
}

#new_school_info tr:not(:first-child) th, #new_school_info tr:not(:first-child) td {
	border-top: 1px solid #e2f1f7
}

#new_school_map {
	height: 228px;
	margin-bottom: 4px
}

#new_school_affix_xs, #new_school_affix {
	padding: 0 24px 24px;
	background-color: #f5fafc
}

#new_school_affix_xs.affix-top, #new_school_affix.affix-top {
	position: static
}

#new_school_affix_xs.affix, #new_school_affix.affix {
	top: 156px
}

#new_school_affix_xs.affix-bottom, #new_school_affix.affix-bottom {
	position: absolute
}

#new_school_affix_xs .item, #new_school_affix .item {
	padding: 28px 0;
	overflow: hidden;
	border-bottom: 1px solid #e2f1f7
}

#new_school_affix_xs .item > div, #new_school_affix .item > div {
	float: left;
	width: calc(100% - 32px)
}

#new_school_affix_xs .item > div:first-child, #new_school_affix .item > div:first-child {
	width: 32px
}

#new_school_affix_xs .itemprop-url a, #new_school_affix [itemprop="url"] a, #new_school_affix_xs .itemprop-telephone, #new_school_affix [itemprop="telephone"] {
	font-size: 16px;
	line-height: 1.5;
	color: #717891
}

#new_school_affix_xs .itemprop-address, #new_school_affix [itemprop="address"] {
	font-size: 14px;
	line-height: 1.71;
	color: #717891
}

#new_school_affix_xs .socials, #new_school_affix .socials {
	overflow: hidden;
	margin-top: 8px
}

#new_school_affix_xs .socials a, #new_school_affix .socials a {
	display: block;
	float: left;
	font-size: 0;
	line-height: 16px;
	margin: 16px 11px 0
}

#new_school_affix_xs .socials a img, #new_school_affix .socials a img {
	width: 20px;
	height: 20px
}

#new_school_affix_xs .btn, #new_school_affix .btn {
	margin-top: 32px;
	padding: 0 20px;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	line-height: 56px;
	border-radius: 4px;
	background-color: #f17334;
	font-size: 20px;
	font-weight: bold;
	color: #fff
}

#new_school_description {
	margin-bottom: 64px
}

#new_school_description h2 {
	margin: 0 0 24px;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.4;
	color: #000
}

#new_school_description p {
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 2;
	color: #243552
}

#new_school_profile h3 {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.4;
	color: #000
}

#new_school_video2 {
	margin-bottom: 56px
}

#new_school_video2 a {
	position: relative;
	display: block;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center
}

#new_school_video2 a:before {
	content: "";
	display: block;
	padding-top: 56.25%
}

#new_school_video2 a:after {
	content: url(img/ico-play-small.svg);
	position: absolute;
	bottom: 32px;
	right: 32px;
	font-size: 0
}

#new_school_video2 .text {
	position: relative;
	padding-right: 75px
}

#new_school_video2 .text:before {
	content: "";
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: -15px;
	right: -15px;
	background: #f5fafc
}

#new_school_video2 .text > div {
	position: relative;
	z-index: 20;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.4;
	color: #000
}

.pl-32 {
	padding-left: 32px
}

.new_school_brochure {
	margin-right: -30px;
	padding: 32px;
	background-color: #f5fafc;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.4;
	color: #000
}

.new_school_brochure + .new_school_brochure {
	border-top: 1px solid #e2f1f7
}

.new_school_brochure .btn {
	padding: 0 40px;
	line-height: 56px;
	border-radius: 4px;
	border: solid 1px #6eceed;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 16px;
	font-weight: bold;
	color: #6eceed
}

#new_school_adacemics {
	margin-top: 100px
}

#new_school_adacemics h3 {
	margin: 0;
	padding: 0
}

#new_school_adacemics .item {
	padding: 24px 0;
	font-size: 16px;
	line-height: 1.75;
	color: #000
}

#new_school_adacemics .item + .item {
	border-top: 1px solid #e2f1f7
}

#new_school_adacemics .item h4 {
	margin: 0 0 8px;
	padding: 0;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase !important;
	line-height: 1.71;
	color: #717891
}

#new_school_extra_curricular {
	margin-top: 80px;
	margin-bottom: 100px;
	font-size: 16px;
	line-height: 2;
	color: #243552
}

#new_school_extra_curricular h3 {
	margin: 0 0 24px;
	padding: 0
}

#new_school_extra_curricular p {
	margin-bottom: 8px
}

#new_school_extra_curricular .labels {
	overflow: hidden
}

#new_school_extra_curricular .school-label {
	float: left;
	margin: 24px 24px 0 0;
	padding: 0 8px;
	line-height: 32px;
	border: solid 1px #e2f1f7;
	text-transform: uppercase;
	font-size: 14px;
	color: #717891
}

#new_school_request {
	padding-top: 120px;
	padding-bottom: 100px
}

#new_school_request h3 {
	margin: 0 0 24px;
	padding: 0;
	font-size: 32px;
	font-weight: bold;
	line-height: 1.5;
	text-align: center;
	color: #243552
}

#new_school_request h3 + p {
	margin-bottom: 64px;
	text-align: center;
	font-size: 18px;
	line-height: 1.78;
	color: #243552
}

.ui-datepicker select, #reviewModal .form-control, #new_school_request .form-control {
	height: 48px;
	margin: 0 0 24px;
	padding: 0 16px;
	border-radius: 4px;
	background-color: #ffffff;
	border: solid 1px #c2e0f4;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 16px;
	color: #243552
}

#new_school_request .form-control.wpcf7-not-valid {
	border-color: #f00
}

.ui-datepicker select {
	height: 30px
}

#reviewModal textarea.form-control, #new_school_request textarea.form-control {
	height: 160px;
	padding-top: 12px;
	padding-bottom: 12px
}

#reviewModal::-webkit-input-placeholder, #new_school_request::-webkit-input-placeholder, #reviewModal .form-control::-webkit-input-placeholder, #new_school_request .form-control::-webkit-input-placeholder {
	color: #8998a1
}

#reviewModal:-moz-placeholder, #new_school_request:-moz-placeholder, #reviewModal .form-control:-moz-placeholder, #new_school_request .form-control:-moz-placeholder {
	color: #8998a1
}

#reviewModal::-moz-placeholder, #new_school_request::-moz-placeholder, #reviewModal .form-control::-moz-placeholder, #new_school_request .form-control::-moz-placeholder {
	color: #8998a1
}

#reviewModal:-ms-input-placeholder, #new_school_request:-ms-input-placeholder, #reviewModal .form-control:-ms-input-placeholder, #new_school_request .form-control:-ms-input-placeholder {
	color: #8998a1
}

#new_school_request .select, #new_school_request .select select {
	width: 100%
}

#new_school_request .select:after {
	content: url(img/ico-dropdown2.svg);
	display: block;
	speak: none;
	font-size: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 21px;
	bottom: auto;
	right: 16px;
	width: auto;
	height: auto;
	pointer-events: none;
	line-height: 1
}

#new_school_request .divider {
	position: relative;
	margin: 40px 0;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.71;
	color: #8998a1
}

#new_school_request .divider:before {
	content: "";
	display: block;
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #c2e0f4
}

#new_school_request .divider span {
	position: relative;
	z-index: 20;
	background: #fff;
	padding: 0 24px
}

#new_school_request span.wpcf7-not-valid-tip {
	display: none !important
}

#reviewModal .btn, #new_school_request .btn {
	padding: 0 20px;
	line-height: 56px;
	border-radius: 4px;
	background: #f17334 !important;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 20px !important;
	font-weight: bold !important;
	color: #fff
}

.job_listing-template-template-new-job-listing .ui-datepicker-next, .job_listing-template-template-new-job-listing .ui-datepicker-prev {
	display: none
}

.new_school_articles .yarpp-related {
	margin: 0
}

body.single-post .entry-content [itemprop="articleBody"] .yarpp-related .container {
	width: auto !important
}

.new_school_articles h3, body.single-post .entry-content [itemprop="articleBody"] .yarpp-related h3, .new_school_articles .yarpp-related h3 {
	margin: 96px 0 0;
	padding: 0 15px;
	font-size: 32px;
	font-weight: bold;
	line-height: 1.5;
	color: #243552
}

.new_school_articles .article, body.single-post .entry-content [itemprop="articleBody"] .yarpp-related .article, .new_school_articles .yarpp-related .article {
	display: block;
	margin: 56px 15px 40px
}

body.single-post .entry-content [itemprop="articleBody"] .yarpp-related .article {
	margin-left: 0;
	margin-right: 0
}

.new_school_articles .article .image, body.single-post .entry-content [itemprop="articleBody"] .yarpp-related .article .image, .new_school_articles .yarpp-related .article .image {
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center
}

.new_school_articles .article .image:before, body.single-post .entry-content [itemprop="articleBody"] .yarpp-related .article .image:before, .new_school_articles .yarpp-related .article .image:before {
	content: "";
	display: block;
	padding-top: 62.89%
}

.new_school_articles .article .image span, body.single-post .entry-content [itemprop="articleBody"] .yarpp-related .article .image span, .new_school_articles .yarpp-related .article .image span {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 8px;
	line-height: 32px;
	background-color: #83e275;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase
}

.new_school_articles .article .title, body.single-post .entry-content [itemprop="articleBody"] .yarpp-related .article .title, .new_school_articles .yarpp-related .article .title {
	margin-top: 16px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.75;
	color: #000
}

#new_school_reviews {
	position: relative;
	padding: 100px 0 120px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center
}

#new_school_reviews:before {
	content: "";
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(26, 32, 73, 0.76)
}

#new_school_reviews > * {
	position: relative;
	z-index: 20
}

#new_school_reviews .quote {
	margin: 0 0 14px -15px
}

#new_school_reviews p {
	margin-bottom: 24px;
	font-size: 26px;
	line-height: 1.54;
	color: #fff
}

#new_school_reviews .author {
	margin-bottom: 88px;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.38;
	color: #fff
}

#new_school_reviews .btn {
	position: absolute;
	bottom: 0;
	right: 15px;
	padding: 0 30px;
	line-height: 56px;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 4px;
	border: solid 1px #ffffff;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff
}

#reviewModal .modal-dialog {
	margin-top: 50vh;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 465px;
	max-width: 90%
}

#reviewModal.modal.in .modal-dialog {
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%)
}

#reviewModal .modal-content {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	border: none
}

#reviewModal .modal-body {
	height: auto;
	padding: 32px !important
}

#reviewModal h3 {
	margin: 0 0 32px;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.4;
	color: #000
}

#reviewModal button.close, #reviewModal button.close:hover {
	position: absolute;
	top: -48px;
	right: -48px;
	width: 48px;
	height: 48px;
	opacity: 1;
	background: none;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none
}

#reviewModal button.close:before, #reviewModal button.close:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
	transform: translateY(-50%) translateX(-50%) rotate(45deg);
	width: 22px;
	height: 1px;
	background: #fff
}

#reviewModal button.close:after {
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
	transform: translateY(-50%) translateX(-50%) rotate(-45deg)
}

body.custom-background.archive {
	background: #fff
}

#new_archive header {
	padding-top: 160px;
	padding-bottom: 80px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	font-size: 16px;
	line-height: 2;
	color: #243552
}

#new_archive header img {
	margin-right: 10px
}

#new_archive header h1 {
	margin: 0 0 16px;
	padding: 0;
	font-size: 32px;
	font-weight: bold;
	line-height: 1.5;
	color: #243552
}

#new_archive #articles {
	padding-top: 120px
}

body.page-template-template-custom-template #articles .item, #new_archive #articles .item {
	margin-bottom: 72px;
	font-size: 16px;
	line-height: 2;
	color: #243552
}

body.page-template-template-custom-template #articles a, #new_archive #articles a {
	display: block
}

body.page-template-template-custom-template #articles .item hr, #new_archive #articles .item hr {
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
	border-color: #e2f1f7
}

body.page-template-template-custom-template #articles .item .category, #new_archive #articles .item .category {
	display: -moz-inline-stack;
	display: -webkit-inline-box;
	display: inline-block;
	padding: 0 8px;
	line-height: 32px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff
}

body.page-template-template-custom-template #articles .item h3, #new_archive #articles .item h3 {
	margin: 6px 0 16px;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.6;
	color: #000
}

body.page-template-template-custom-template #articles .item h3 a, #new_archive #articles .item h3 a {
	color: #000
}

body.page-template-template-custom-template #articles .item .time, #new_archive #articles .item .time {
	margin-top: 16px;
	opacity: 0.48;
	font-size: 16px;
	line-height: 2;
	color: #243552
}

#infinite_loader {
	padding: 38px 0;
	background-color: #f3f9fc;
	border: solid 1px #e2f1f7;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	color: #a4dfeb
}

#infinite_loader svg {
	vertical-align: top
}

body.post-template-template-article-small.custom-background, body.post-template-template-article-small-sidebar.custom-background, body.post-template-template-article-video.custom-background, body.post-template-template-article-video-sidebar.custom-background, body.post-template-template-article-full-screen.custom-background, body.post-template-template-article-full-screen-sidebar.custom-background {
	background: #fff
}

.tmpl-article-thumb article, .tmpl-article-video article, .tmpl-article-full article, .tmpl-article-sidebar article {
	-webkit-box-shadow: none;
	box-shadow: none
}

.tmpl-article-thumb article header, .tmpl-article-sidebar article header {
	background: #f3f9fc;
	border-top: 2px solid #d1e4ed;
	margin: 0 0 80px;
	padding: 96px 0 0
}

.tmpl-article-full article header {
	margin-bottom: 96px;
	position: relative;
	height: calc(100vh - 200px);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center
}

.tmpl-article-full article header .container-fluid {
	position: absolute;
	bottom: 96px;
	left: 55px
}

.tmpl-article-video [itemprop="dateCreated"],
.tmpl-article-video .hellDate, .tmpl-article-thumb article header [itemprop="dateCreated"], 
.tmpl-article-thumb article header .hellDate, 
.tmpl-article-sidebar article header [itemprop="dateCreated"],
.tmpl-article-sidebar article header .hellDate {
	font-size: 13px;
	line-height: 1.85;
	color: #717891;
	text-transform: uppercase
}

.tmpl-article-video [itemprop="dateCreated"],
.tmpl-article-video .hellDate, {
	color: #243552
}

.tmpl-article-video .category, .tmpl-article-thumb article header .category, .tmpl-article-full article header .category, .tmpl-article-sidebar article header .category {
	display: -moz-inline-stack;
	display: -webkit-inline-box;
	display: inline-block;
	line-height: 32px;
	margin: 0 20px 0 0;
	padding: 0 8px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	color: #fff
}

.tmpl-article-video h1, .tmpl-article-thumb article header h1, .tmpl-article-sidebar article header h1 {
	margin: 16px 0 32px;
	padding: 0;
	font-size: 32px;
	font-weight: bold;
	line-height: 1.5;
	color: #243552
}

.tmpl-article-video h1 {
	margin: 16px 0 56px
}

.tmpl-article-full h1 {
	margin: 16px 0;
	padding: 0;
	font-size: 48px;
	font-weight: bold;
	line-height: 1.33;
	color: #fff
}
.tmpl-article-thumb article header h1 .entry-title,
.tmpl-article-sidebar article header h1 .entry-title,
.tmpl-article-video h1 .entry-title,
.tmpl-article-full h1 .entry-title {
	margin: 0 !important;
	padding: 0;
}

.tmpl-article-video article [itemprop="articleBody"], .tmpl-article-thumb article [itemprop="articleBody"], .tmpl-article-full article [itemprop="articleBody"], .tmpl-article-sidebar article [itemprop="articleBody"] {
	font-size: 16px;
	font-weight: normal;
	line-height: 2;
	letter-spacing: normal;
	color: #243552
}

.tmpl-article-video article [itemprop="articleBody"] ul, .tmpl-article-thumb article [itemprop="articleBody"] ul, .tmpl-article-full article [itemprop="articleBody"] ul, .tmpl-article-sidebar article [itemprop="articleBody"] ul {
	font-size: 16px;
	font-weight: normal;
	line-height: 2;
	letter-spacing: normal;
	color: #243552
}

.tmpl-article-video article [itemprop="articleBody"] h2:first-child, .tmpl-article-thumb article [itemprop="articleBody"] h2:first-child, .tmpl-article-full article [itemprop="articleBody"] h2:first-child, .tmpl-article-sidebar article [itemprop="articleBody"] h2:first-child {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 2;
	letter-spacing: normal;
	color: #243552
}

.tmpl-article-video article [itemprop="articleBody"] p, .tmpl-article-thumb article [itemprop="articleBody"] p, .tmpl-article-full article [itemprop="articleBody"] p, .tmpl-article-sidebar article [itemprop="articleBody"] p {
	margin-bottom: 50px
}

.sidebar-box {
	padding: 24px 24px 32px 40px;
	border: solid 1px #e2f1f7;
	font-size: 14px;
	line-height: 1.71;
	color: #243552
}

.sidebar-box a[itemprop="publisher"] {
	color: #243552
}

.sidebar-box + .sidebar-box {
	border-top: none
}

.sidebar-box h3 {
	margin: 0 0 15px;
	padding: 0;
	text-transform: uppercase !important;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.85;
	color: #717891
}

.author-box {
	margin: 80px 0 0;
	padding: 40px 33px 40px 48px;
	border: solid 1px #e2f1f7
}

.author-box h3 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-weight: bold;
	line-height: 2;
	letter-spacing: normal;
	color: #243552
}

.author-box p {
	margin-bottom: 24px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.71;
	color: #000
}

.author-box .btn {
	padding: 0 16px;
	line-height: 40px;
	border-radius: 4px;
	background-color: #6eceed;
	font-size: 16px;
	font-weight: bold;
	color: #fff
}

.header-metas > div {
	display: -moz-inline-stack;
	display: -webkit-inline-box;
	display: inline-block;
	font-size: 14px;
	line-height: 2.29;
	color: #fff
}

.header-metas > div + div {
	margin-left: 36px
}

.header-metas img {
	border-radius: 9px;
	margin-right: 10px
}

.tmpl-article-video article header {
	margin-bottom: 64px;
	background: #243552
}

body.page-template-template-custom-template.custom-background {
	background: #fff
}

.xs-gutters {
	padding-left: 2px;
	padding-right: 2px
}

.xs-gutters .row {
	margin-left: -2px;
	margin-right: -2px
}

.xs-gutters .row [class*="col-"] {
	padding-left: 2px;
	padding-right: 2px
}

.pr-0 {
	padding-right: 0 !important
}

.pl-0 {
	padding-left: 0 !important
}

body.page-template-template-custom-template .component h2 {
	margin: 0 0 40px;
	padding: 0;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.33;
	color: #000
}

.component-articles_grid a {
	position: relative;
	display: block;
	height: calc(15.72vw - 2px);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center
}

.component-articles_grid a:after {
	content: "";
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(26, 32, 73, .16)
}

.component-articles_grid a > * {
	position: relative;
	z-index: 20
}

.component-articles_grid a .text {
	position: absolute;
	bottom: 24px;
	left: 24px;
	right: 24px;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.33;
	color: #fff
}

.component-articles_grid a.article-1 {
	height: 31.45vw
}

.component-articles_grid a.article-1 .text {
	right: 9.6vw;
	font-size: 40px;
	line-height: 1.4
}

.component-articles_grid a.article-4 {
	margin-top: 4px
}

.component-articles_grid a .category {
	display: -moz-inline-stack;
	display: -webkit-inline-box;
	display: inline-block;
	margin: 0 0 5px;
	padding: 0 8px;
	line-height: 32px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff
}

@media (max-width:991px) {
	.component-articles_grid a.article-1 {
		margin-bottom: 4px
	}

}

.component-last_5_posts h3 {
	margin: 0 0 40px;
	padding: 0;
	font-size: 24px;
	font-weight: bold
}

.component-last_5_posts a {
	display: block;
	padding: 16px 0;
	border-top: 1px solid #e2f1f7;
	font-size: 16px;
	line-height: 1.5;
	color: #243552
}

.component-last_5_posts h3 + a {
	padding-top: 0;
	padding-bottom: 32px;
	border: none;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.6;
	color: #000
}

.component-last_5_posts h3 + a img {
	margin-bottom: 32px
}

.component-last_5_posts .low-carousel.low-drag .low-item {
	opacity: 1
}

.component-schools .low-carousel .low-prev, .component-schools .low-carousel .low-next {
	position: absolute;
	top: 62px;
	right: -24px
}

.component-schools .low-carousel .low-prev {
	right: auto;
	left: -24px
}

.component-schools .low-carousel .low-prev svg, .component-schools .low-carousel .low-next svg {
	width: 8px;
	height: 20px
}

.component-schools .content_posts_carousel .low-carousel .low-prev, .component-schools .content_posts_carousel .low-carousel .low-next {
	top: 124px
}

.component-schools h2, .component-all_popular_schools h2 {
	margin: 0 0 40px;
	padding: 0;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.33;
	color: #000
}

.component-all_popular_schools a {
	display: block;
	margin: 0 0 30px;
	padding: 40px 25px;
	border-radius: 2px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 16px 32px 0 rgba(47, 116, 163, 0.1);
	box-shadow: 0 16px 32px 0 rgba(47, 116, 163, 0.1);
	text-align: center;
	font-size: 16px;
	line-height: 2;
	color: #243552
}

.component-all_popular_schools a h4 {
	margin: 24px 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	color: #243552
}

.component-posts_list h2 {
	margin: 0 0 10px;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.33;
	color: #000
}

.component-posts_grid_layout a {
	display: block;
	overflow: hidden;
	margin-bottom: 58px;
	position: relative;
	border-radius: 2px
}

.component-posts_grid_layout a:after {
	content: "";
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5))
}

.component-posts_grid_layout a span {
	position: absolute;
	z-index: 20;
	bottom: 28px;
	left: 16px;
	right: 16px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	color: #fff
}

#infinite_scroll_articles {
	display: none
}

@media (min-width:992px) {
	.new_school_articles .col-md-4:nth-child(3n+1), body.single-post .entry-content [itemprop="articleBody"] .yarpp-related .col-md-4:nth-child(3n+1), .new_school_articles .yarpp-related .col-md-4:nth-child(3n+1) {
		clear: left
	}

	.component-all_popular_schools .item:nth-child(4n+1) {
		clear: left
	}

	.component-posts_grid_layout div:nth-child(3n+1) > a {
		margin-right: 18px
	}

	.component-posts_grid_layout div:nth-child(3n+2) > a {
		margin-left: 9px;
		margin-right: 9px
	}

	.component-posts_grid_layout div:nth-child(3n+3) > a {
		margin-left: 18px
	}

	.component-posts_grid_layout div:nth-last-child(1) > a, .component-posts_grid_layout div:nth-last-child(2) > a, .component-posts_grid_layout div:nth-last-child(3) > a {
		margin-bottom: 0
	}

	.component-posts_grid_layout .col-md-4:nth-child(3n+1) {
		clear: left
	}

}

@media (max-width:991px) {
	#new_school_profile h1 {
		margin-left: 0;
		margin-right: 0
	}

	#new_school_video2 .text:before {
		right: 15px
	}

	.new_school_brochure {
		margin-right: 0
	}

	.pl-32 {
		padding-left: 15px
	}

	#new_school_affix.affix-bottom, .affix {
		position: static !important
	}

	#new_school_reviews .quote {
		margin-left: 0
	}

	.new_school_articles .col-md-4:nth-child(2n+1), body.single-post .entry-content [itemprop="articleBody"] .yarpp-related .col-md-4:nth-child(2n+1), .new_school_articles .yarpp-related .col-md-4:nth-child(2n+1) {
		clear: left
	}

	.component-articles_grid a {
		height: 21vw
	}

	.component-articles_grid a.article-1 {
		height: 42vw
	}

	.component-all_popular_schools .item:nth-child(3n+1) {
		clear: left
	}

	.component-posts_grid_layout div:nth-child(2n+1) > a {
		margin-right: 18px
	}

	.component-posts_grid_layout div:nth-child(2n+2) > a {
		margin-left: 18px
	}

	.component-posts_grid_layout div:nth-last-child(1) > a, .component-posts_grid_layout div:nth-last-child(2) > a {
		margin-bottom: 0
	}

	.component-wysiwyg_editor p br {
		display: none
	}

	.component-posts_grid_layout .col-sm-6:nth-child(2n+1) {
		clear: left
	}

}

@media (max-width:767px) {
	#new_school_info {
		margin-bottom: 40px
	}

	#new_school_info tr, #new_school_info th, #new_school_info td {
		display: block
	}

	#new_school_info tr td {
		padding-top: 0
	}

	#new_school_info tr:not(:first-child) td {
		border-top: none
	}

	#new_school_reviews .carousel-control, #school_carousel .carousel-control {
		left: 20px
	}

	#new_school_reviews .carousel-control.right, #school_carousel .carousel-control.right {
		left: auto;
		right: 20px
	}

	#new_school_profile h1 {
		font-size: 20px
	}

	#new_school_profile h1 img {
		width: 50px;
		margin: 0
	}

	#new_school_features {
		padding: 0;
		margin-bottom: 45px
	}

	#new_school_features > div + div {
		margin-left: 20px
	}

	#new_school_features img {
		margin-right: 6px
	}

	#new_school_video2 .text {
		padding: 15px 30px
	}

	#new_school_video2 .text:before {
		left: 15px
	}

	.new_school_brochure .btn {
		margin-top: 15px
	}

	#reviewModal button.close, #reviewModal button.close:hover {
		right: -16px
	}

	#new_archive header {
		padding: 60px 0
	}

	#new_archive #articles {
		padding-top: 60px
	}

	.component-articles_grid a.article-1 .text {
		font-size: 32px
	}

	.component-articles_grid a {
		height: 40vw
	}

	.component-articles_grid a.article-1 {
		height: 80vw
	}

	.xs-gutters .row [class*="col-"] {
		padding: 0
	}

	.component-articles_grid a.article-3 {
		margin-top: 4px
	}

	.component-posts_grid_layout a {
		margin-left: 18px;
		margin-right: 18px
	}

	.component-posts_grid_layout div:nth-last-child(2) > a {
		margin-bottom: 58px
	}

	.tmpl-article-full h1, .tmpl-article-video h1, .tmpl-article-thumb article header h1, .tmpl-article-sidebar article header h1 {
		font-size: 24px
	}

	.tmpl-article-full article header .container-fluid {
		bottom: 30px;
		left: 20px
	}

	.header-metas > div {
		font-size: 12px
	}

	.header-metas > div + div {
		margin-left: 46px
	}

	#new_school_reviews .carousel-control, #school_carousel .carousel-control {
		bottom: -84px;
		top: auto
	}

	#new_school_reviews .btn {
		width: calc(100% - 30px)
	}

	article header .video-container {
		margin: 32px 17px
	}

	.tmpl-article-video article header {
		margin-bottom: 0
	}

	.tmpl-article-video .mobile-bg {
		overflow: hidden;
		background: #243552;
		color: #fff;
		padding: 0 17px;
		margin-bottom: 45px
	}

	.tmpl-article-video h1 {
		margin-bottom: 30px;
		color: #fff
	}

	.tmpl-article-video [itemprop="dateCreated"], .tmpl-article-video .hellDate {
		color: #fff
	}

	.component-articles_grid a .text {
		font-size: 20px
	}

}


